<div id="wrapper-tvp">
	<div id="container-tvp">

		<!-- BANNER TVP -->
		<div id="banner-tvp" >
			<%= render partial: "shared/banner_tvp", locals: { :bco => true } %>
		</div>

		<!-- MENU TVP -->
		<div style="margin-top: 25px;">
			<%= render partial: "shared/menu_tvp" %>
		</div>

		<!-- DESCARGAS -->
		<div id="downloads-wapper">

			<!-- DESCARGAS-CONTAINER -->
			<div id="downloads-container">
				<% @downloads.each.with_index do |download, index| %>

					<% if (index % 3 == 0) %>
						<div class="download-column">
					<% end %>

					<% top = 12.5 + ((index % 3) * 162.5) %>

					<div class="download-option" style="top: <%= top %>px;">
						<div class="download-option-thumb" url-download="<%= download.attachment.url %>" >
							<%= image_tag download.thumbnail.url(:display) %>
						</div>

						<div class="download-option-title" align="center">
							<span><%= download.title.upcase %></span>
						</div>
					</div>

					<% if ((index + 1) % 3 == 0) || ((index + 1) == @downloads.length) %>
						</div>
					<% end %>

				<% end %>
			</div>

			<!-- FRANJA NEGRA -->
			<div style="width: 100%; height: 50px; position: relative;	float: left; background: #000000;">
				<% if @downloads.length > 15 %>
					<%= image_tag 'prev_gallery.png', :id => "prev_down" %>
					<%= image_tag 'next_gallery.png', :id => "next_down" %>
				<% end %>
			</div>
		</div>

		<!-- LEGALES -->
		<div id="legals-tvp">
			<%= render partial: "shared/legals_tvp", locals: { :bco => true } %>
		</div>

	</div>
</div>

<script type="text/javascript">
	$(function() {
		//$("#menu-tvp").css("background", "#14191D");
		$("#menu-tvp").css("background", "#000000");
		$("html").css("background", "#000000");
		$("body").css("background", "#000000");

		$(".download-option-thumb").each(function() {
			$(this).click(function(event) {
				var url = $(this).attr("url-download");
				event.preventDefault();
				window.location.href = url;
			});
		});

		// Hay que hacer carusel
		if(parseInt("<%= @downloads.length %>") > 15) {
			$("#downloads-container").carouFredSel({
				width: 1000,
				height: 500,
				responsive: true,
				circular: false,
				infinite: false,
				items: {
					visible: 5,
					width: 203
				},
				auto: false,
				prev: '#prev_down',
				next: '#next_down'
			});
		}

	});
</script>
