<script type="text/javascript">

	function putTextInfo(id_elem) {
		var credits_htmlstr = "<%= j work.credits.html_safe if !work.credits.nil? %>";
		var synopsis_htmlstr = "<%= j work.synopsis.html_safe if !work.synopsis.nil? %>";
		var notes_htmlstr = "<%= j work.notes.html_safe if !work.notes.nil? %>";
		var program_htmlstr = "<%= j work.program.html_safe if !work.program.nil? %>";

		if(($(".work-info-text-full").data("jsp"))) {
			$(".work-info-text-full").data("jsp").destroy();
		}

		if(id_elem == "credits") {
			$(".work-info-text-full").html(credits_htmlstr);
		} else if(id_elem == "synopsis") {
			$(".work-info-text-full").html(synopsis_htmlstr);
		} else if(id_elem == "notes") {
			$(".work-info-text-full").html(notes_htmlstr);
		} else if(id_elem == "program") {
			$(".work-info-text-full").html(program_htmlstr);
		}

		$(".work-info-text-full").bind("jsp-initialised", function(event, isScrollable) {

			// Se redimensiona el area scrollable
			$(".work-info-text-full .jspPane").css({
				"width" : "96.8%"
			});

			var h_ = $(".work-info-text-full .jspPane").height();
			correctLineHeight($(".work-info-text-full")[0]);
			var h = $(".work-info-text-full .jspPane").height();

			var diff = 0;
			if((h_ - h) > 0) {
				diff = (h_ - h) / 20.0;
			}

			$(".work-info-text-full .jspPane").css({
				"height" : (h) + 'px'
			});
		}).jScrollPane({
			autoReinitialise: true,
			hideFocus: true
		});
	}

	function showFolder(folder) {
		var folder_param = "/?folder=" + folder;

		$.ajax({
			type: "GET",
			url: "<%= image_folder_path(work.id) %>" + folder_param,
			dataType: "json",
			success: function(data) {

				$("#work-display-full").children().each(function() {
					$(this).remove();
				});

				// Se crea el que sera el contenedor de la galeria
				$("#work-display-full").append("<div id='work-display-full-gallery'></div>");

				// Llenamos con las imagenes de la galeria
				for (var i = 0; i < data.length; i++) {
					$("#work-display-full-gallery").append("<div class='work-gallery-img'><img src='" + data[i] + "' style='width: 100%; height: 100%;'></div>");
				}

				var prev_gallery_html = "<%= j (image_tag 'prev_gallery.png', :style => 'width: 100%; height: 100%').html_safe %>";
				var next_gallery_html = "<%= j (image_tag 'next_gallery.png', :style => 'width: 100%; height: 100%').html_safe %>";

				// Se agregan las flechitas
				$("#work-display-full").append("<div class='clearfix'></div>" +
									    "<div class='prev' id='gallery-prev'>" + prev_gallery_html + "</div>" +
									    "<div class='next' id='gallery-next'>" + next_gallery_html + "</div>");

				// Inicia el carousel de la galeria
				$("#work-display-full-gallery").carouFredSel({
					center: true,
					items: {
						visible: 1
					},
					scroll: {
						fx: "none"
					},
					auto: false,
					prev: "#gallery-prev",
					next: "#gallery-next"
				});

				// Poniendole efecto al prev y al next
				$("#work-display-full").hover(function() {
					$("#gallery-prev").animate({opacity: 0.6}, 100);
					$("#gallery-next").animate({opacity: 0.6}, 100);
				}, function() {
					$("#gallery-prev").animate({opacity: 0.02}, 100);
					$("#gallery-next").animate({opacity: 0.02}, 100);
				});
			}
		});
	}

	function putVideo(video_url, video_thumb) {

		// Pedimos el div del video
		$.ajax({
			type: "GET",
			url: "<%= home_video_path %>",
			dataType: "html",
			success: function(response) {
				// Borramos el contenido del display
				$("#work-display-full").children().each(function() {
					$(this).remove();
				});

				// Agregamos el codigo html del video
				$("#work-display-full").html(response);

				// Cargamos el jqueryPlayer
				$("#jquery_jplayer_1").jPlayer({
					ready: function () {
						$(this).jPlayer("setMedia", {
							m4v: video_url,
							poster: video_thumb
						});
					},

					size: {
						width: "480px",
						height: "299px"
					},
					swfPath: "<%= asset_path 'Jplayer.swf' %>",
					supplied: "m4v"
				});
			}
		});

	}

	$(document).ready(function() {

		// Click sobre la navegacion
		if($("html").hasClass("ui-mobile")) {
			$(".nav-works").on("tap", function() {
				$(location).attr("href", $(this).attr("url-work"));
			});			
			$(".work-info-menu-item").on("tap", function() {
				putTextInfo($(this).attr("section-info"));
			});
		} else {
			$(".nav-works").on("click", function() {
				$(location).attr("href", $(this).attr("url-work"));
			});

			$(".work-info-menu-item").on("click", function() {
				putTextInfo($(this).attr("section-info"));
			});
		}

		correctLineHeight($("work-info-title-full")[0]);

		// Obteniendo la altura del cuadro de texto en base al titulo
		var heigtTotal = 270;
		var htmlTitle = $("#work-info-title-content-full").html();
		var heightTitle = 0;
		if(htmlTitle.lastIndexOf("nbsp") != -1) {
			var lastChild = $("#work-info-title-content-full").children().last();
			if(lastChild.position().top == 0) {
				heightTitle = $("#work-info-title-content-full").height() + 18;
			} else {
				heightTitle = lastChild.position().top + 20;
			}
		} else {
			heightTitle = $("#work-info-title-content-full").height() + 18;
		}
		
		var heightText = heigtTotal - heightTitle;
		
		$(".work-info-text-full").css({
			"height" : heightText + "px"
		});

		putTextInfo("credits");
	});

</script>


<div id="work-container-full">

	<!-- DISPLAY DE LA OBRA -->
	<div id="work-display-full">
		<%= image_tag Photo.find(@work.display).image.url(:display), :style => "width: 100%; height: 100%; " %>
	</div>

	<!-- INFORMACION GENERAL DE LA OBRA -->
	<div id="work-info-full">
		
		<!-- TITULOS DE LA OBRA -->
		<div id="work-info-title-full" style="position: relative;">
			<div id="work-info-title-content-full">
				<span style="width: 100%"><%= work.titles_text.html_safe %></span>
			</div>
		</div>

		<!-- INFORMACION-TEXTO DE LA OBRA -->
		<div class="work-info-text-full"></div>

		<!-- MENU PARA LA INFORMACION DE LA OBRA -->
		<div id="work-info-menu-navigator">
			<ul id="work-info-menu">
				<% if !work.credits.nil? %>
					<li class="work-info-menu-item" style="margin-right: 2px;" section-info="credits">
						<div><%= t(:credits_menu) %></div>
					</li>
				<% end  %>
				<% if !work.synopsis.nil? %>
					<li class="work-info-menu-item" style="margin-right: 2px;" section-info="synopsis">
						<div><%= t(:synopsis_menu) %></div>
					</li>
				<% end  %>
				<% if !work.notes.nil? %>
					<li class="work-info-menu-item" style="width: 45px; margin-right: 3px;" section-info="notes">
						<div><%= t(:notes_menu) %></div>
					</li>
				<% end  %>
				<% if !work.program.nil? %>
					<li class="work-info-menu-item" style="width: 60px; margin-left: 3px;" section-info="program">
						<div><%= t(:program_menu) %></div>
					</li>
				<% end  %>

				<div class="nav-works" style="width: 10px; height: 20px; float: right; margin-right: 28px;" url-work="<%= work_path(@work.next) %>">
					<%= image_tag "next.png", :alt => "Siguiente", :style => "width: 100%; height: 100%;" %>
				</div>
				<div class="nav-works" style="width: 10px; height: 20px; float: right; margin-right: 12px;" url-work="<%= work_path(@work.previous) %>">
					<%= image_tag "previous.png", :alt => "Anterior", :style => "width: 10px; height: 20px;" %>
				</div>
			</ul>
		</div>
	</div>

	<!-- SECCIONES DE LA OBRA -->
	<div id="work-full-sections">

		<!-- GALERIA -->
		<div class="work-full-sections-item-left" style="width: 24.875%; min-width: 199px; height: 120px;" onclick="showFolder('GALERÍA')" >
			<% folder_galeria = @work.filefolder("GALERÍA") %>
			<%= image_tag Photo.find(folder_galeria.display).image.url(:display_folder), :style => "width: 100%; height: 100%;" %>

			<div class="work-full-sections-link"><div style="margin-top: -1px; padding: 1px 4px 1px 4px;"><%= folder_galeria.name_folder %></div></div>
		</div>

		<!-- SEPARATOR -->
		<div style="position: relative; float: left; width: 0.25%; max-width: 2px; height: 120px; background: #000;"></div>

		<!-- VIDEO O SUSTITUTO -->
		<% if @work.video.present? %>
			<div class="work-full-sections-item" style="width: 24.75%; min-width: 198px; height: 120px;" onclick="putVideo('<%= @work.video.url %>', '<%= @work.videothumb.url(:display) %>');">
				<%= image_tag @work.videothumb.url(:display_folder), :style => "width: 100%; height: 100%;" %>

				<div class="work-full-sections-link"><div style="margin-top: -1px; padding: 1px 4px 1px 4px;">VIDEO</div></div>
			</div>
		<% else %>
			<% folder_subtitute = @work.substitute_video_folder %>
			<div class="work-full-sections-item" style="width: 24.75%; min-width: 198px; height: 120px;" onclick="showFolder('<%= folder_subtitute.name_folder_in_es %>');">
				<%= image_tag Photo.find(folder_subtitute.display).image.url(:display_folder), :style => "width: 100%; height: 100%;" %>

				<div class="work-full-sections-link"><div style="margin-top: -1px; padding: 1px 4px 1px 4px;"><%= folder_subtitute.name_folder %></div></div>
			</div>
		<% end %>

		<!-- SEPARATOR -->
		<div style="position: relative; float: left; width: 0.25%; max-width: 2px; height: 120px; background: #000;"></div>

		<!-- DETRAS DE -->
		<div class="work-full-sections-item" style="width: 24.75%; min-width: 198px; height: 120px;" onclick="showFolder('DETRÁS DE');">
			<% folder_detrasde = @work.filefolder("DETRÁS DE") %>
			<%= image_tag Photo.find(folder_detrasde.display).image.url(:display_folder), :style => "width: 100%; height: 120px;" %>

			<div class="work-full-sections-link"><div style="margin-top: -1px; padding: 1px 4px 1px 4px;"><%= folder_detrasde.name_folder %></div></div>
		</div>

		<!-- SEPARATOR -->
		<div style="position: relative; float: left; width: 0.25%; max-width: 2px; height: 120px; background: #000;"></div>

		<!-- OTROS -->
		<div class="work-full-sections-item-right" style="width: 24.875%; min-width: 199px; height: 120px;" onclick="showFolder('OTROS');">
			<% folder_otros = @work.filefolder("OTROS") %>
			<%= image_tag Photo.find(folder_otros.display).image.url(:display_folder), :style => "width: 100%; height: 120px;" %>

			<div class="work-full-sections-link"><div style="margin-top: -1px; padding: 1px 4px 1px 4px;"><%= folder_otros.name_folder %></div></div>
		</div>

	</div>

</div>