<script type="text/javascript">

	function putTextInfo(id_elem) {
		var credits_htmlstr = "<%= j work.credits.html_safe if !work.credits.nil? %>";
		var synopsis_htmlstr = "<%= j work.synopsis.html_safe if !work.synopsis.nil? %>";
		var notes_htmlstr = "<%= j work.notes.html_safe if !work.notes.nil? %>";
		var program_htmlstr = "<%= j work.program.html_safe if !work.program.nil? %>";

		if(id_elem == "credits") {
			$("#work-info-text-content-full").html(credits_htmlstr);
		} else if(id_elem == "synopsis") {
			$("#work-info-text-content-full").html(synopsis_htmlstr);
		} else if(id_elem == "notes") {
			$("#work-info-text-content-full").html(notes_htmlstr);
		} else if(id_elem == "program") {
			$("#work-info-text-content-full").html(program_htmlstr);
		}

		if(($(".work-info-text-full").data("jsp"))) {
			$(".work-info-text-full").data("jsp").destroy();
  		}

  		$(".work-info-text-full").bind("jsp-initialised", function(event, isScrollable) {
  			// Se redimensiona el area scrollable
			$(".jspContainer").css("width", "91%");
			$(".jspContainer").css("margin-right", "2.75%");
			$(".jspContainer").css("margin-left", "6.25%");
		}).jScrollPane({hideFocus: true });

		correctLineHeight("work-info-text-content-full");
  	}

  	function showFolder(folder) {
  		var folder_param = "/?folder=" + folder;

		$.ajax({
			type: "GET",
			url: "<%= image_folder_path(work.id) %>" + folder_param,
			dataType: "json",
			success: function(data) {

				// Elimina el contenido que haya en obra-display
				$("#work-display-full").empty();

				// Se crea el que sera el contenedor de la galeria
				$("#work-display-full").append("<div id='work-display-full-gallery'></div>");

				// Llenamos con las imagenes de la galeria
				for (var i = 0; i < data.length; i++) {
					$("#work-display-full-gallery").append("<div class='work-gallery-img'><img src='" + data[i] + "' style='width: 100%; height: auto;'></div>");
				}

				var prev_gallery_html = "<%= j (image_tag 'prev_gallery.png', :style => 'width: 100%; height: 100%').html_safe %>";
				var next_gallery_html = "<%= j (image_tag 'next_gallery.png', :style => 'width: 100%; height: 100%').html_safe %>";

				// Se agregan las flechitas
				$("#work-display-full").append("<div class='clearfix'></div>" +
									    "<div class='prev' id='gallery-prev'>" + prev_gallery_html + "</div>" +
									    "<div class='next' id='gallery-next'>" + next_gallery_html + "</div>");

				// Inicia el carousel de la galeria
				$("#work-display-full-gallery").carouFredSel({
					center: true,
					items: {
						visible: 1
					},
					scroll: {
						fx: "none"
					},
					auto: false,
					prev: "#gallery-prev",
					next: "#gallery-next"
				});

				// Poniendole efecto al prev y al next
				$("#work-display-full").hover(function() {
					$("#gallery-prev").animate({opacity: 0.6}, 100);
					$("#gallery-next").animate({opacity: 0.6}, 100);
				}, function() {
					$("#gallery-prev").animate({opacity: 0.02}, 100);
					$("#gallery-next").animate({opacity: 0.02}, 100);
				});
			}
		});
	}

	function putVideo(video_url) {
		// Elimina el contenido que haya en obra-display
		$("#work-display-full").empty();

		// Se crea el que sera el contenedor del video
		$("#work-display-full").append("<video width='600' height='400' controls ><source src='" + video_url + "' type='video/mp4'></video>");
	}

	$(function() {
		correctLineHeight("work-info-title-full");

		putTextInfo("credits");
	});
</script>

<div id="work-container-full">

	<!-- DISPLAY DE LA OBRA -->
	<div id="work-display-full">
		<%= image_tag Photo.find(@work.display).image.url(:display), :style => "width: 100%; height: auto; " %>
	</div>

	<!-- INFORMACION GENERAL DE LA OBRA -->
	<div id="work-info-full">

		<!-- TITULOS DE LA OBRA -->
		<div id="work-info-title-full" >
			<div id="work-info-title-content-full">
				<span style="width: 100%"><%= work.titles_text.html_safe %></span>
			</div>
		</div>

		<!-- INFORMACION-TEXTO DE LA OBRA -->
		<div class="work-info-text-full" style="width: 100%; height: 252px; float: right; margin-top: 0px;">
			<div id="work-info-text-content-full" style="width: 89.05%; height: auto; margin-top: 1px;"></div>
		</div>

		<!-- MENU PARA LA INFORMACION DE LA OBRA -->
		<div id="work-info-menu-navigator">
			<ul id="work-info-menu">
				<% if !work.credits.nil? %>
					<li class="work-info-menu-item" style="margin-right: 2px;" onclick="putTextInfo('credits');" ><div><%= t(:credits_menu) %></div></li>
				<% end  %>
				<% if !work.synopsis.nil? %>
					<li class="work-info-menu-item" style="margin-right: 2px;" onclick="putTextInfo('synopsis');" ><div><%= t(:synopsis_menu) %></div></li>
				<% end  %>
				<% if !work.notes.nil? %>
					<li class="work-info-menu-item" style="width: 45px; margin-right: 3px;" onclick="putTextInfo('notes');" ><div><%= t(:notes_menu) %></div></li>
				<% end  %>
				<% if !work.program.nil? %>
					<li class="work-info-menu-item" style="width: 60px; margin-left: 3px;" onclick="putTextInfo('program');" ><div><%= t(:program_menu) %></div></li>
				<% end  %>

				<%= link_to work_path(@work.next) do %>
					<div style="width: 10px; height: 20px; float: right; margin-right: 30px;">
						<%= image_tag "next.png", :alt => "Siguiente", :style => "width: 100%; height: 100%;" %>
					</div>
				<% end %>
				<%= link_to work_path(@work.previous) do %>
					<div style="width: 10px; height: 20px; float: right; margin-right: 12px;	">
						<%= image_tag "previous.png", :alt => "Anterior", :style => "width: 10px; height: 20px;" %>
					</div>
				<% end %>
			</ul>
		</div>
	</div>

	<!-- SECCIONES DE LA OBRA -->
	<div id="work-full-sections">

		<!-- GALERIA -->
		<div class="work-full-sections-item-left" style="width: 24.9%; height: 150px;" onclick="showFolder('GALERIA')" >
			<% folder_galeria = @work.filefolder("GALERIA") %>
			<%= image_tag Photo.find(folder_galeria.display).image.url(:display_folder), :style => "max-width: 248px; max-height: 150px;" %>

			<div class="work-full-sections-link"><div style="padding: 0px 3px 2px 3px;"><%= folder_galeria.name_folder %></div></div>
		</div>

		<div style="width: 0.1%; height: 150px; float: left; background: #FFFFFF;"></div>

		<!-- VIDEO O SUSTITUTO -->
		<% if @work.video.present? %>
			<div class="work-full-sections-item" style="width: 24.8%; height: 150px;" onclick="putVideo('<%= @work.video.url %>');" >
				<%= image_tag @work.videothumb.url(:display_folder), :style => "width: 100%; height: 150px;" %>

				<div class="work-full-sections-link"><div style="padding: 0px 3px 2px 3px;">VIDEO</div></div>
			</div>
		<% else %>
			<% folder_subtitute = @work.substitute_video_folder %>
			<div class="work-full-sections-item" style="width: 24.8%; height: 150px;" onclick="showFolder('<%= folder_subtitute.name_folder_in_es %>');">
				<%= image_tag Photo.find(folder_subtitute.display).image.url(:display_folder), :style => "width: 100%; height: 150px;" %>

				<div class="work-full-sections-link"><div style="padding: 0px 3px 2px 3px;"><%= folder_subtitute.name_folder %></div></div>
			</div>
		<% end %>

		<div style="width: 0.2%; height: 150px; float: left; background: #FFFFFF;"></div>

		<!-- DETRAS DE -->
		<div class="work-full-sections-item" style="width: 24.8%; height: 150px;" onclick="showFolder('DETRAS DE');">
			<% folder_detrasde = @work.filefolder("DETRAS DE") %>
			<%= image_tag Photo.find(folder_detrasde.display).image.url(:display_folder), :style => "width: 100%; height: 150px;" %>

			<div class="work-full-sections-link"><div style="padding: 0px 3px 2px 3px;"><%= folder_detrasde.name_folder %></div></div>
		</div>

		<div style="width: 0.2%; height: 150px; float: left; background: #FFFFFF;"></div>

		<!-- OTROS -->
		<div class="work-full-sections-item-right" style="width: 25%; height: 150px;" onclick="showFolder('OTROS');">
			<% folder_otros = @work.filefolder("OTROS") %>
			<%= image_tag Photo.find(folder_otros.display).image.url(:display_folder), :style => "width: 100%; height: 150px;" %>

			<div class="work-full-sections-link"><div style="padding: 0px 3px 2px 3px;"><%= folder_otros.name_folder %></div></div>
		</div>

	</div>
</div>