<script type="text/javascript">
	function putTextInfo(id_elem) {
		var credits_htmlstr = "<%= j work.credits.html_safe if !work.credits.nil? %>";
		var synopsis_htmlstr = "<%= j work.synopsis.html_safe if !work.synopsis.nil? %>";
		var notes_htmlstr = "<%= j work.notes.html_safe if !work.notes.nil? %>";
		var program_htmlstr = "<%= j work.program.html_safe if !work.program.nil? %>";

		if(id_elem == "credits") {
			$(".work-info-text-minima-minima").html(credits_htmlstr);
		} else if(id_elem == "synopsis") {
			$(".work-info-text-minima-minima").html(synopsis_htmlstr);
		} else if(id_elem == "notes") {
			$(".work-info-text-minima-minima").html(notes_htmlstr);
		} else if(id_elem == "program") {
			$(".work-info-text-minima-minima").html(program_htmlstr);
		}

		if(($(".work-info-text-minima-minima").data("jsp"))) {
			$(".work-info-text-minima-minima").data("jsp").destroy();
		}

		$(".work-info-text-minima-minima").bind("jsp-initialised", function(event, isScrollable) {

			// Se redimensiona el area scrollable
			$(".work-info-text-minima-minima .jspPane").css({
				"width" : "91%",
				"margin-left" : "6.5%"
			});

			correctLineHeight($(".work-info-text-minima-minima")[0]);
		}).jScrollPane({
			autoReinitialise: true,
			hideFocus: true
		});
	}

	$(document).ready(function() {
		
		// Click sobre la navegacion
		if($("html").hasClass("ui-mobile")) {
			$(".nav-works").on("tap", function() {
				$(location).attr("href", $(this).attr("url-work"));
			});
		} else {
			$(".nav-works").on("click", function() {
				$(location).attr("href", $(this).attr("url-work"));
			});
		}

		correctLineHeight($("#work-info-title-content-minima-minima")[0]);

		// Obteniendo la altura del cuadro de texto en base al titulo
		var heigtTotal = 389;
		var htmlTitle = $("#work-info-title-content-minima-minima").html();
		var heightTitle = 0;
		if(htmlTitle.lastIndexOf("nbsp") != -1) {
 			var lastChild = $("#work-info-title-content-minima-minima").children().last();
			heightTitle = lastChild.position().top + 22;
		} else {
			heightTitle = $("#work-info-title-content-minima-minima").height() + 20;
		}
		
		var heightText = heigtTotal - heightTitle;
		
		$(".work-info-text-minima-minima").css({
			"height" : heightText + "px"
		});

		putTextInfo("credits");
	});
</script>

<div id="work-container-minima-minima">

	<!-- DISPLAY DE LA OBRA -->
	<div id="work-display-minima-minima">
		<%= image_tag Photo.find(@work.display).image.url(:display), :style => "width: 100%; height: 440px;" %>
	</div>

	<!-- INFO Y MENU -->
	<div id="info-menu-minima-minima">

		<!-- INFORMACION GENERAL DE LA OBRA -->
		<div id="work-info-minima-minima">

			<!-- TITULOS DE LA OBRA -->
			<div id="work-info-title-minima-minima" style="position: relative;">
				<div id="work-info-title-content-minima-minima">
					<%= work.titles_text.html_safe %>
				</div>
			</div>

			<!-- INFORMACION-TEXTO DE LA OBRA -->
			<div class="work-info-text-minima-minima"></div>

		</div>

		<!-- MENU PARA LA INFORMACION DE LA OBRA -->
		<div id="work-info-menu-navigator" style="height: 50px;">
			<ul id="work-info-menu" style="padding-top: 0px; padding-left: 16px; height: 50px;">
				<% if !work.credits.nil? %>
					<li class="work-info-menu-item" style="margin-right: 2px; margin-top: 17px;" onclick="putTextInfo('credits');" ><div><%= t(:credits_menu) %></div></li>
				<% end  %>
				<% if !work.synopsis.nil? %>
					<li class="work-info-menu-item" style="margin-right: 2px; margin-top: 17px;" onclick="putTextInfo('synopsis');" ><div><%= t(:synopsis_menu) %></div></li>
				<% end  %>
				<% if !work.notes.nil? %>
					<li class="work-info-menu-item" style="width: 45px; margin-right: 3px; margin-top: 17px;" onclick="putTextInfo('notes');" ><div><%= t(:notes_menu) %></div></li>
				<% end  %>
				<% if !work.program.nil? %>
					<li class="work-info-menu-item" style="width: 69px; margin-left: 3px; margin-top: 17px;" onclick="putTextInfo('program');" ><div><%= t(:program_menu) %></div></li>
				<% end  %>

				<div class="nav-works" style="width: 10px; height: 20px; float: right; margin-right: 28px; margin-top: 15px;" url-work="<%= work_path(@work.next) %>">
					<%= image_tag "next.png", :alt => "Siguiente", :style => "width: 100%; height: 100%;" %>
				</div>
				<div class="nav-works" style="width: 10px; height: 20px; float: right; margin-right: 12px; margin-top: 15px;" url-work="<%= work_path(@work.previous) %>">
					<%= image_tag "previous.png", :alt => "Anterior", :style => "width: 10px; height: 20px;" %>
				</div>

			</ul>
		</div>

	</div>
</div>