<script type="text/javascript">

	function putTextInfo(id_elem) {
		var credits_htmlstr = "<%= j work.credits.html_safe if !work.credits.nil? %>";
		var synopsis_htmlstr = "<%= j work.synopsis.html_safe if !work.synopsis.nil? %>";
		var notes_htmlstr = "<%= j work.notes.html_safe if !work.notes.nil? %>";
		var program_htmlstr = "<%= j work.program.html_safe if !work.program.nil? %>";

		if(($(".work-info-text-mediana").data("jsp"))) {
			$(".work-info-text-mediana").data("jsp").destroy();
		}

		if(id_elem == "credits") {
			$(".work-info-text-mediana").html(credits_htmlstr);
		} else if(id_elem == "synopsis") {
			$(".work-info-text-mediana").html(synopsis_htmlstr);
		} else if(id_elem == "notes") {
			$(".work-info-text-mediana").html(notes_htmlstr);
		} else if(id_elem == "program") {
			$(".work-info-text-mediana").html(program_htmlstr);
		}

		$(".work-info-text-mediana").bind("jsp-initialised", function(event, isScrollable) {

			// Se redimensiona el area scrollable
			$(".work-info-text-mediana .jspPane").css({
				"width" : "91%",
				"margin-left" : "6.5%"
			});

			var h_ = $(".work-info-text-mediana .jspPane").height();
			correctLineHeight($(".work-info-text-mediana")[0]);
			var h = $(".work-info-text-mediana .jspPane").height();
			var diff = (h_ - h) / 16.0;

			$(".work-info-text-mediana .jspPane").css({
				"height" : (h + diff) + 'px'
			});

		}).jScrollPane({
			autoReinitialise: true,
			hideFocus: true
		});
	}

	function showFolder(folder) {
		var folder_param = "/?folder=" + folder;

		$.ajax({
			type: "GET",
			url: "<%= image_folder_path(work.id) %>" + folder_param,
			dataType: "json",
			success: function(data) {
				// Elimina el contenido que haya en obra-display
				$("#work-display-mediana").empty();

				// Se crea el que sera el contenedor de la galeria
				$("#work-display-mediana").append("<div id='work-display-mediana-gallery'></div>");

				// Llenamos con las imagenes de la galeria
				for (var i = 0; i < data.length; i++) {
					$("#work-display-mediana-gallery").append("<div class='work-gallery-img'><img src='" + data[i] + "' style='width: 100%; height: auto;'></div>");
				}

				var prev_gallery_html = "<%= j (image_tag 'prev_gallery.png', :style => 'width: 100%; height: 100%').html_safe %>";
				var next_gallery_html = "<%= j (image_tag 'next_gallery.png', :style => 'width: 100%; height: 100%').html_safe %>";

				// Se agregan las flechitas
				$("#work-display-mediana").append("<div class='clearfix'></div>" +
									   "<div class='prev' id='gallery-prev' style='top: 137px; left: 7px;'>" + prev_gallery_html + "</div>" +
									   "<div class='next' id='gallery-next' style='top: 137px; left: calc(96% - 8px);'>" + next_gallery_html + "</div>");

				// Inicia el carousel de la galeria
				$("#work-display-mediana-gallery").carouFredSel({
					center: true,
					items: {
						visible: 1
					},
					scroll: {
						fx: "none"
					},
					auto: false,
					prev: "#gallery-prev",
					next: "#gallery-next"
				});

				// Poniendole efecto al prev y al next
				$("#work-display-mediana").hover(function() {
					$("#gallery-prev").animate({opacity: 0.6}, 100);
					$("#gallery-next").animate({opacity: 0.6}, 100);
				}, function() {
					$("#gallery-prev").animate({opacity: 0.02}, 100);
					$("#gallery-next").animate({opacity: 0.02}, 100);
				});

			}
		});
	}

	$(document).ready(function() {

		// Click sobre la navegacion
		if($("html").hasClass("ui-mobile")) {
			$(".nav-works").on("tap", function() {
				$(location).attr("href", $(this).attr("url-work"));
			});

			$(".work-info-menu-item").on("tap", function() {
				putTextInfo($(this).attr("section-info"));
			});
		} else {
			$(".nav-works").on("click", function() {
				$(location).attr("href", $(this).attr("url-work"));
			});

			$(".work-info-menu-item").on("click", function() {
				putTextInfo($(this).attr("section-info"));
			});
		}

		correctLineHeight($("#work-info-title-mediana")[0]);

		// Obteniendo la altura del cuadro de texto en base al titulo
		var heigtTotal = 405;
		var htmlTitle = $("#work-info-title-content-mediana").html();
		var heightTitle = 0;
		if(htmlTitle.lastIndexOf("nbsp") != -1) {
 			var lastChild = $("#work-info-title-content-mediana").children().last();
			if(lastChild.position().top == 0) {
				heightTitle = $("#work-info-title-content-mediana").height() + 20;
			} else {
				heightTitle = lastChild.position().top + 22;
			}
		} else {
			heightTitle = $("#work-info-title-content-mediana").height() + 20;
		}
		
		var heightText = heigtTotal - heightTitle;
		
		$(".work-info-text-mediana").css({
			"height" : heightText + "px"
		});

		putTextInfo("credits");
	});
</script>

<div id="work-container-mediana">

	<!-- DISPLAY Y SECCIONES -->
	<div id="display-sections-mediana">

		<!-- DISPLAY DE LA OBRA -->
		<div id="work-display-mediana">
			<%= image_tag Photo.find(@work.display).image.url(:display), :style => "width: 100%; height: 100%; " %>
		</div>

		<!-- SECCIONES DE LA OBRA -->
		<div id="work-mediana-sections">

			<!-- GALERIA -->
			<div class="work-mediana-sections-item-left" onclick="showFolder('GALERÍA')" >
				<% folder_galeria = @work.filefolder("GALERÍA") %>
				<%= image_tag Photo.find(folder_galeria.display).image.url(:display_folder), :style => "width: 100%; height: 120px;" %>

				<div class="work-mediana-sections-link">
					<div><%= folder_galeria.name_folder %></div>
				</div>
			</div>

			<!-- LINEA BLANCA -->
			<div style="width: 0.416666667%; height: 120px; float: left; background: #000;"></div>

			<!-- OTROS -->
			<div class="work-mediana-sections-item-right" onclick="showFolder('OTROS');">
				<% folder_otros = @work.filefolder("OTROS") %>
				<%= image_tag Photo.find(folder_otros.display).image.url(:display_folder), :style => "width: 100%; height: 120px;" %>

				<div class="work-mediana-sections-link">
					<div><%= folder_otros.name_folder %></div>
				</div>
			</div>
		</div>
	</div>

	<!-- INFO Y MENU -->
	<div id="info-menu-mediana">
		
		<!-- INFORMACION GENERAL DE LA OBRA -->
		<div id="work-info-mediana">
			
			<!-- TITULOS DE LA OBRA -->
			<div id="work-info-title-mediana" style="position: relative;">
				<div id="work-info-title-content-mediana">
					<%= work.titles_text.html_safe %>
				</div>
			</div>

			<!-- INFORMACION-TEXTO DE LA OBRA -->
			<div class="work-info-text-mediana"></div>
		</div>

		<!-- MENU PARA LA INFORMACION DE LA OBRA -->
		<div id="work-info-menu-navigator">
			<ul id="work-info-menu" style="padding-top: 0px; padding-left: 16px;">

				<!-- CREDITOS -->
				<% if !work.credits.nil? %>
					<li class="work-info-menu-item" style="margin-top: 10px;" section-info="credits">
						<div style="margin-top: 0px; padding: 0px 4px 1px 4px;"><%= t(:credits_menu) %></div>
					</li>
				<% end  %>

				<!-- SINOPSIS -->
				<% if !work.synopsis.nil? %>
					<li class="work-info-menu-item" style="margin-right: 2px; margin-top: 10px;" section-info="synopsis">
						<div style="margin-top: 0px; padding: 0px 4px 1px 4px;"><%= t(:synopsis_menu) %></div>
					</li>
				<% end  %>

				<!-- NOTAS -->
				<% if !work.notes.nil? %>
					<li class="work-info-menu-item" style="width: 45px; margin-right: 3px; margin-top: 10px;" section-info="notes">
						<div style="margin-top: 0px; padding: 0px 4px 1px 4px;"><%= t(:notes_menu) %></div>
					</li>
				<% end  %>

				<!-- PROGRAMA -->
				<% if !work.program.nil? %>
					<li class="work-info-menu-item" style="width: 69px; margin-left: 3px; margin-top: 10px;" section-info="program">
						<div style="margin-top: 0px; padding: 0px 4px 1px 4px;"><%= t(:program_menu) %></div>
					</li>
				<% end  %>

				<div class="nav-works" style="width: 10px; height: 20px; float: right; margin-right: 28px; margin-top: 8px;" url-work="<%= work_path(@work.next) %>">
					<%= image_tag "next.png", :alt => "Siguiente", :style => "width: 100%; height: 100%;" %>
				</div>
				<div class="nav-works" style="width: 10px; height: 20px; float: right; margin-right: 12px; margin-top: 8px;" url-work="<%= work_path(@work.previous) %>">
					<%= image_tag "previous.png", :alt => "Anterior", :style => "width: 10px; height: 20px;" %>
				</div>
			</ul>
		</div>

	</div>

</div>