
<div class="admin-panel" style="width: 95%; height: 400px; margin-top: 10px; float: left;">

	<div class="list-container" style="width: 95%; height: auto;">
		<div style="width: 100%; font-family: latha, latha_ie; font-size: 1.1em; line-height: 0.89em; margin-left: 13%; margin-top: 14px;">
			<strong>ARRASTRE PARA MODIFICAR EL ORDEN:</strong>
		</div>

		<ul id="admin-frequents-list" class="admin-list" style="height: 335px;">
			<% @frequents_colaborators.each do |frequent| %>
				<li class="ui-state-default" id-frequent="<%= frequent.id %>" >
					<%= frequent.name %>
				</li>
			<% end %>
		</ul>
	</div>

</div>

<div style="width: 100%; height: 45px; margin-top: 5px; float: left;">
	<%= button_tag(type: "button", id: "admin-frequents-store-order", style: "float: right; background: rgb(0, 120, 231); color: #FFF;", class: "pure-button pure-button-active") do %>GUARDAR<% end %>
	<%= button_tag(type: "button", id: "cancel_form_1", style: "float: right;", class: "pure-button pure-button-active") do %>CANCELAR<% end %>
</div>

<script type="text/javascript">
	$(function() {
		$("#admin-frequents-list").sortable();
		$("#admin-frequents-list").disableSelection();

		$("#cancel_form_1").click(function() {
			$("#order-frequents-dialog").dialog("close");
		});

		// Guardar el orden
		$("#admin-frequents-store-order").click(function() {
			var frequent_li = $(".ui-state-default");
			var order_str = "";

			for(var i = 0; i < frequent_li.length; i++) {
				var id_colab = $(frequent_li[i]).attr("id-frequent");
				if(id_colab != undefined) {
					order_str += id_colab + "_";
				}
			}

			var order_param = "/?order=" + order_str;

			$.ajax({
				type: "POST",
				url: "<%= store_order_frequents_path %>" + order_param,
				dataType: "json",
				success: function(data) {
					alert("EL ORDEN FUE GUARDADO EXITOSAMENTE");
					$("#order-frequents-dialog").dialog("close");
				}
			});

		});
	});
</script>
