<div id="admin-works-grids-content">
	<div style="width: 19%; height: 580px; margin-top: 15px; margin-left: 1.5%; position: relative; float: left; outline: 1.5px solid #b4b4b4; border-top: 1px solid #fff;">
		
		<div style="width: 100%; font-family: latha, latha_ie; font-size: 1.06em; line-height: 0.89em; margin-left: 3%; margin-top: 10px;">
			<strong>PLANTILLAS DEL RODILLO<br>CARGADAS</strong>
		</div>

		<div id="admin-works-grid-options">
			<% i = 1 %>
			<% work_grids.each do |work_grid| %>
				
				<div class="admin-works-grid-option" onclick="selectGrid(this)" id-grid="<%= work_grid.id %>" >
					<div><%= i %></div>
					<%= image_tag "plantilla_mini.png", :style => "width: 100%; height: 100%;" %>
				</div>

				<div id="edit-work-grid-<%= work_grid.id %>" style="display: none;">
					<%= link_to admin_work_grid_path(work_grid) + "?count=" + i.to_s, remote: true, method: :get do %><% end %>
				</div>
				<script type="text/javascript">
					$("#edit-work-grid-<%= work_grid.id %>").bind("ajax:success", function(evt, data, status, xhr) {
						$("#admin-works-grid-selection").empty();

						$("#admin-works-grid-selection").append(xhr.responseText);
					});
				</script>

				<div id="delete-work-grid-<%= work_grid.id %>" style="display: none;">
					<%= link_to admin_delete_work_grid_path(work_grid), remote: true, method: :delete, data: { confirm: "¿Estás seguro?" } do %><% end %>
				</div>
				<script type="text/javascript">
					$("#delete-work-grid-<%= work_grid.id %>").bind("ajax:success", function(evt, data, status, xhr) {
						$("#works-catalog-menu-item").click();
					});
				</script>

				<% i = i + 1 %>
			<% end %>
		</div>

		<div style="width: 100%; height: 60px;">
			<%= button_tag(type: "button", id: "delete-work-grid", class: "pure-button pure-button-primary", style: "width: 40%; float: left; margin-left: 3.5%; margin-top: 20px; font-family: latha, latha_ie; font-size: 0.8em; line-height: 0.89em; background: rgb(223, 117, 20);") do %>
					<center>ELIMINAR<br>PLANTILLA</center>
			<% end %>
			<%= link_to admin_new_home_carousel_path, id: "new-home-carousel-link", remote: true do %>
				<div class="pure-button pure-button-primary" style="width: 30%; float: left; margin-left: 9%; margin-top: 20px; font-family: latha, latha_ie; font-size: 0.8em; line-height: 0.89em;">
					<center>AGREGAR<br>PLANTILLA</center>
				</div>
			<% end %>
		</div>
	</div>

	<div style="width: 78%; height: 580px; margin-top: 15px; margin-left: 1%; position: relative; float: left; outline: 1.5px solid #b4b4b4; border-top: 1px solid #fff;">
		<div id="admin-works-grid-selection"></div>
	</div>
</div>

<script type="text/javascript">

	function selectGrid(option_div) {
		// Estilo
		if($(".admin-works-grid-option-selected").length > 0) {
			$(".admin-works-grid-option-selected").removeClass("admin-works-grid-option-selected");
		}

		$(option_div).addClass("admin-works-grid-option-selected");

		// Coloca su formulario
		$("#edit-work-grid-" + $(option_div).attr("id-grid")).find("a").click();
	}

	$(function() {
		$("#delete-work-grid").click(function() {
			if($(".admin-works-grid-option-selected").length > 0) {
				$("#delete-work-grid-" + $(".admin-works-grid-option-selected").first().attr("id-grid")).find("a").click();
			} else {
				alert("SELECCIONE LA PLATILLA A ELEMINAR");
			}
		});

		$("#new-work-grid-link").bind("ajax:success", function(evt, data, status, xhr) {
			$("#works-catalog-menu-item").click();
		});
	});

</script>