<div id="admin-colaborators-content">

	<div class="admin-panel">
		
		<div id="admin-colaborators-list-container">
			<div style="width: 100%; font-family: latha, latha_ie; font-size: 0.85em; line-height: 0.89em; margin-left: 13%; margin-top: 14px;">
				<strong>SELECCIONE PARA EDITAR UN COLABORADOR:</strong>
			</div>

			<ul id="admin-colaborators-list">
				<% @colaborators.each do |colab| %>
					<li class="ui-state-default" id="colab-list-<%= colab.id %>" onclick="selectColab(this);" id-colab="<%= colab.id %>" title-colab="<%= colab.title %>" display-url="<%= colab.portrait.url %>" style="font-family: latha, latha_ie;" url-edit="<%= admin_edit_colaborator_path(colab) %>">
						
						<span style="width: 100%; font-family: felixti, felixti_ie; font-size: 1em;"><%= colab.name.upcase %></span>
						<%= link_to colaborator_path(colab.id), :style => "float: right; margin-right: 4%;" do %><i class="fa fa-arrow-circle-o-right fa-2"></i><% end %>

						<div id="destroy-colab-<%= colab.id.to_s %>" style="display: none;" >
							<%= link_to colaborator_path(colab), remote: true, method: :delete, data: { confirm: "¿Estás seguro?" } do %><% end %>
						</div>
						<script type="text/javascript">
							$("#destroy-colab-<%= colab.id.to_s %>").bind("ajax:success", function(evt, data, status, xhr) {
								
								// Se hace lo mismo como si dieramos click al colaborators-menu
								$("#colaborators-menu-item").click();
							});
						</script>
					</li>
				<% end %>
			</ul>

			<div style="margin-left: 25%; margin-top: -8px; font-family: latha, latha_ie; font-size: 0.89em;" >
				<%= button_tag(type: "button", id: "admin-frecuents-order", class: "pure-button pure-button-primary") do %>
					<strong>ORDEN COLAB. FRECUENTES</strong> <i class="fa fa-list"></i>
				<% end %>
			</div>
		</div>

		<div id="admin-colaborators-selection">
			<div id="admin-colaborators-selection-display"></div>
			<div id="admin-colaborators-selection-title"></div>
			<div id="admin-colaborators-selection-buttons">
				<%= button_tag(type: "button", id: "admin-edit-colab-button", class: "pure-button pure-button-primary", style: "margin-top: 40px;") do %>
					<strong>EDITAR COLABORADOR</strong> <i class="fa fa-pencil-square-o"></i>
				<% end %>

				<%= button_tag(type: "button", id: "admin-delete-colab-button", class: "pure-button pure-button-primary", style: "margin-top: 40px; margin-left: 4%; background: rgb(223, 117, 20);") do %>
					<strong>ELIMINAR COLABORADOR</strong> <i class="fa fa-times"></i>
				<% end %>
			</div>
		</div>
	</div>

	<!-- DIALOG WINDOW -->
	<div id="order-frequents-dialog" title="" style="display: none; z-index: 4;"></div>

</div>

<script type="text/javascript">
	function selectColab(li_elem) {

		// Estilo
		if($(".ui-state-default-selec").length > 0) {
			$(".ui-state-default-selec").removeClass("ui-state-default-selec");
		}

		$(li_elem).addClass("ui-state-default-selec");

		// Informacion
		$("#admin-colaborators-selection-display").empty();
		$("#admin-colaborators-selection-display").append("<img src='" + $(li_elem).attr("display-url") + "' style='width: 100%; height: 100%;' >");

		$("#admin-colaborators-selection-title").empty();
		$("#admin-colaborators-selection-title").append("<center><strong>" + $(li_elem).attr("title-colab") + "</strong></center>");
	}

	$(function() {
		// Se asocian acciones a los botones:

		// Editar
		$("#admin-edit-colab-button").click(function() {
			if($(".ui-state-default-selec").length > 0) {
				var url_edit = $(".ui-state-default-selec").attr("url-edit");
				
				$("#content-admin").empty();

				$.ajax({
					type: "GET",
					url: url_edit,
					dataType: "html",
					success: function(data) {
						$("#content-admin").append(data);
					}
				});
			}
		});

		// Eliminar
		$("#admin-delete-colab-button").click(function() {
			var id_destroy_link = "destroy-colab-" + $(".ui-state-default-selec").attr("id-colab");
			$("#" + id_destroy_link).find("a").click();
		});

		// Dialogo de colaboradores frecuentes
		$("#order-frequents-dialog").dialog({
			width: 850,
			
			autoOpen: false,
			
			show: "scale",
			hide: "scale",

			dialogClass: "no-close",

			modal: true,

			position: { my: "center", at: "center", of: $(".admin-panel").last() }
		});

		$("#admin-frecuents-order").click(function() {
			$.ajax({
				type: "GET",
				url: "<%= admin_order_frequents_path %>",
				dataType: "html",
				success: function(data) {
					// Vacia el contenido de la ventana de dialogo
					$("#order-frequents-dialog").empty();

					// Le cambiamos el titulo
					$("#order-frequents-dialog").dialog("option", "title", "ORDEN COLABORADORES FRECUENTES");

					// Se le agrega el contenido
					$("#order-frequents-dialog").append(data);

					// Se despliega
					$("#order-frequents-dialog").dialog("open");
				}
			});
		});

		if(parseInt("<%= Colaborator.count %>") == 0) {
			 $("#admin-edit-colaborator-button").attr("disabled", "disabled");
			 $("#admin-delete-colaborator-button").attr("disabled", "disabled");
		} else {
			// Se selecciona el primero
			$(".ui-state-default").first().click();
		}
	});

</script>