
<script type="text/javascript">

	// Mapea los nombres de las tablas con sus indices
	function getNInfoTab(id) {
		if(id.indexOf("credits") != -1) {
			return 0;
		}
		if(id.indexOf("synopsis") != -1) {
			return 1;
		}
		if(id.indexOf("notes") != -1) {
			return 2;
		}
		if(id.indexOf("program") != -1) {
			return 3;
		}
	}

	// Hace el manejo de si tiene o no tiene un tab (en informacion)
	function has_tab(a_checkbox) {
		var n = getNInfoTab(a_checkbox.id);

		if(a_checkbox.checked) {
			$("#form-work-es-info-tabs").tabs("enable", n);
			$("#form-work-en-info-tabs").tabs("enable", n);

			if(a_checkbox.id.indexOf("_in_en") == -1) {
				document.getElementById(a_checkbox.id + "_in_en").checked = true;
			} else {
				document.getElementById(a_checkbox.id.replace("_in_en", "")).checked = true;
			}
		} else {
			$("#form-work-es-info-tabs").tabs("disable", n);
			$("#form-work-en-info-tabs").tabs("disable", n);

			if(a_checkbox.id.indexOf("_in_en") == -1) {
				document.getElementById(a_checkbox.id + "_in_en").checked = false;
			} else {
				document.getElementById(a_checkbox.id.replace("_in_en", "")).checked = false;
			}
		}
	}

	// Setear dropzone manualmente
	Dropzone.autoDiscover = false;

	// Verifica si se han subido todas las fotos en todos los dropzones
	function emptyQueues() {
		var emptyQueues = true;

		$(".dropzone").each(function() {
			var dropzoneObj = this.dropzone;

			var test = (dropzoneObj.getUploadingFiles().length === 0 && dropzoneObj.getQueuedFiles().length === 0);
			emptyQueues = emptyQueues && test;
		});

		return emptyQueues;
	}

	// Hace el manejo de si tiene o no video (en obra full)
	function has_video(a_checkbox) {
		var option = $("#work_type_work").find('option:selected');
		var type_work = $(option).val();

		if(type_work == "full") {
			if(a_checkbox.checked) {
				$("#remove_file_folder_link").click();
				$("#uploader-video-div").show();
				$("#uploader-video-thumb-div").show();
			} else {
				$("#add_folder").find("a").click();
				$("#uploader-video-div").hide();
				$("#uploader-video-thumb-div").hide();
			}
		}
	}

	// Quita todos los folder que contengan fotos
	function removeMultimediaFolders() {
		$("#remove_file_folder_link").click();
		$("#remove_GALERIA_ff_link").click();
		$("#remove_DETRAS_DE_ff_link").click();
		$("#remove_OTROS_ff_link").click();
		$("#remove_DEFAULT_ff_link").click();
	}

	// Setea los folders de fotos dependiendo del tipo de obra
	function setMultimediaFolders(type_work) {
		removeMultimediaFolders();

		if(type_work == "full") {
			$("#form-work-video-div").show();

			if($("#image-folder-tab-GALERIA").length == 0) {
				$("#add_GALERIA_folder").find("a").click();
			}
			if($("#image-folder-tab-DETRAS_DE").length == 0) {
				$("#add_DETRASDE_folder").find("a").click();
			}
			if($("#image-folder-tab-OTROS").length == 0) {
				$("#add_OTROS_folder").find("a").click();
			}
			if($("#image-folder-tab-DEFAULT").length == 0) {
				$("#add_DEFAULT_folder").find("a").click();
			}

		} else if(type_work == "mediana") {
			$("#form-work-video-div").hide();

			if($("#image-folder-tab-GALERIA").length == 0) {
				$("#add_GALERIA_folder").find("a").click();
			}
			if($("#image-folder-tab-OTROS").length == 0) {
				$("#add_OTROS_folder").find("a").click();
			}
			if($("#image-folder-tab-DEFAULT").length == 0) {
				$("#add_DEFAULT_folder").find("a").click();
			}

		} else if(type_work == "minima") {
			$("#form-work-video-div").hide();

			if($("#image-folder-tab-GALERIA").length == 0) {
				$("#add_GALERIA_folder").find("a").click();
			}
			if($("#image-folder-tab-DEFAULT").length == 0) {
				$("#add_DEFAULT_folder").find("a").click();
			}

		} else {
			$("#form-work-video-div").hide();

			if($("#image-folder-tab-DEFAULT").length == 0) {
				$("#add_DEFAULT_folder").find("a").click();
			}
		}
	}

	function validates_ckeditor(name, content) {
		var required = false;
		var msg = "";

		// Es de alguna parte de la informacion
		// CREDITOS
		if(name.lastIndexOf("credits_in_en") != -1 && $("#has_credits_in_en")[0].checked) {
		} else if(name.lastIndexOf("credits") != -1 && $("#has_credits")[0].checked) {
			required = true;
			msg = "Creditos-Español está vacío!!";
		}
		// SINOPSIS
		if(name.lastIndexOf("synopsis_in_en") != -1 && $("#has_synopsis_in_en")[0].checked) {
		} else if(name.lastIndexOf("synopsis") != -1 && $("#has_synopsis")[0].checked) {
			required = true;
			msg = "Sinopsis-Español está vacío!!";
		}
		// NOTAS
		if(name.lastIndexOf("notes_in_en") != -1 && $("#has_notes_in_en")[0].checked) {
		} else if(name.lastIndexOf("notes") != -1 && $("#has_notes")[0].checked) {
			required = true;
			msg = "Notas-Español está vacío!!";
		}
		// PROGRAMA
		if(name.lastIndexOf("program_in_en") != -1 && $("#has_program_in_en")[0].checked) {
		} else if(name.lastIndexOf("program") != -1 && $("#has_program")[0].checked) {
			required = true;
			msg = "Programa-Español está vacío!!";
		}

		// TITULO
		if(name == "work_titles_text_in_en") {
		} else if(name.lastIndexOf("titles_text") != -1) {
			required = true;
			msg = "Titulos-Español está vacío!!";
		}

		if(name == "work_titles_grid_in_en") {
		} else if(name.lastIndexOf("titles_grid") != -1) {
			required = true;
			msg = "TitulosRodillo-Español está vacío!!";
		}

		if(required) {
			if(content == "") {
				alert("El campo " + msg);
				$("#" + name).focus();

				return false;
			} else {
				return true;
			}
		} else {
			return true;
		}
	}

	function percentSuccessDropzone() {
		var acceptedFiles = 0;
		var successFiles = 0;
		$(".dropzone").each(function() {
			var dropzoneObj = this.dropzone;

			acceptedFiles += dropzoneObj.getAcceptedFiles().length;
			successFiles += dropzoneObj.getUploadingFiles().length;
		});

		return 100 - Math.floor((successFiles / acceptedFiles) * 100);
	}

	$(function() {

		// Tabs de la informacion
		$("#form-work-es-info-tabs").tabs();
		$("#form-work-en-info-tabs").tabs();

		// Comportamiento cuando selecciona un tipo de obra
		$("#work_type_work").change(function() {
			var option = $(this).find('option:selected');
			setMultimediaFolders($(option).val());
		});

		// Tabs de las imagenes
		$("#form-work-images-tabs").tabs();

		// Si estamos editando la obra entonces es necesario cargar sus folders
		var present_work = "<%= work.type_work.present? %>";
		if(present_work == "true") {
			setMultimediaFolders("<%= work.type_work %>");

			// ¿Tiene video?
			if("<%= work.type_work %>" == "full") {
				if("<%= work.video.present? %>" == "false") {
					$("#add_folder").find("a").click();
					$("#uploader-video-div").hide();
					$("#uploader-video-thumb-div").hide();
					$("#work_has_video").attr("checked", false);
				}
			}
		} else {
			// Cargamos los folderes de obra full por default
			$("#add_GALERIA_folder").find("a").click();
			$("#add_DETRASDE_folder").find("a").click();
			$("#add_OTROS_folder").find("a").click();
			$("#add_DEFAULT_folder").find("a").click();
		}

		// Accion del submit
		$("#form-work").submit(function(e) {
			var ckeditors_ok = true;

			// Checamos que no dejen ningun ckeditor vacio
			var ck_instances = CKEDITOR.instances;
			for(var key in ck_instances) {
				var ck = ck_instances[key];
				ck.updateElement();

				ckeditors_ok = ckeditors_ok && validates_ckeditor(ck.name, $("#" + ck.name).val());
			}

			if(!ckeditors_ok) {
				e.preventDefault();
				e.stopPropagation();

				return false;
			}

			// Checamos que no dejen ningun folder vacío si es que la obra no ha sido creada
			if("<%= work.id.present? %>" == "false") {
				var emptyDropzone = false;
				$(".dropzone").each(function() {
					var dropzoneObj = this.dropzone;
					emptyDropzone = emptyDropzone || dropzoneObj.getAcceptedFiles().length == 0;
				});

				if(emptyDropzone) {
					alert("¡Hay un folder sin imagenes!");

					e.preventDefault();
					e.stopPropagation();

					return false;
				} else {
					// Checamos si ya estan vacías todas las colas de archivos
					if(!emptyQueues()) {
						e.preventDefault();
						e.stopPropagation();

						$("#submit_form").attr("disabled", "disabled");

						$("#progressbar").show();
						$(".ui-progressbar-value").css("background", "#10BC02");

						$(".dropzone").each(function() {
							var dropzoneObj = this.dropzone;
							dropzoneObj.processQueue();
						});
					}
				}
			} else {
				// Checamos si ya estan vacías todas las colas de archivos
				if(!emptyQueues()) {
					e.preventDefault();
					e.stopPropagation();

					$("#submit_form").attr("disabled", "disabled");

					$("#progressbar").show();
					$(".ui-progressbar-value").css("background", "#10BC02");

					$(".dropzone").each(function() {
						var dropzoneObj = this.dropzone;
						dropzoneObj.processQueue();
					});
				}
			}
		});
		
		var progressbar = $("#progressbar");
		var progressLabel = $(".progress-label");

		$("#progressbar").progressbar({
			value: 0,
			max: 100,
			change: function() {
				if(progressbar.progressbar("value") == false) {
					progressLabel.text("SUBIENDO OBRA... ESPERE...");
				} else {
					progressLabel.text("SUBIENDO OBRA... " + progressbar.progressbar("value") + "%" );
				}
			}
		});

		$("#progressbar").hide();
	});
</script>

<div id="form-work-wrapper">
	<div id="progressbar" style="position: fixed; width: 86%; z-index: 2; margin-left: 0.55%;">
		<div class="progress-label">SUBIENDO OBRA... </div>
	</div>

	<%= form_for work, remote: true, html: { id: "form-work", :class => "pure-form pure-form-stacked" } do |f| %>

		<% if !work.id.present? %>
			<!-- TIPO DE OBRA -->
			<div style="padding-top: 15px;">
				<%= f.label :type_work, "Tipo de Obra: " %>
				<%= f.select :type_work, [["Full", "full"], ["Mediana", "mediana"], ["Minima con galería", "minima"], ["Minima", "minima_minima"]] %><br>
			</div>

			<!-- NOMBRE DE LA OBRA -->
			<div style="position:relative; margin-top: -1.5%;">
				<%= f.label :title, "Nombre de la Obra: " %>
				<%= f.text_field :title, :autofocus => true, size: 80, :style => "width: 30%;", :required => true %>
			</div>
		<% else %>

			<!-- NOMBRE DE LA OBRA -->
			<div style="position:relative; margin-top: 55px;">
				<%= f.label :title, "Nombre de la Obra: " %>
				<%= f.text_field :title, :autofocus => true, size: 80, :style => "width: 30%;", :required => true %>
			</div>

		<% end %>

		<!-- TITULOS DE LA OBRA -->
		<div style="width: 95%; height: 550px; margin-top: 2%; position: relative; outline: 1.5px solid #b4b4b4; border-top: 1px solid #fff; padding: 10px;">
			<span style="font-size: 1.3em"><strong>TITULOS</strong></span>
			
			<div style="margin-top: 1.2%;">

				<!-- Español -->
				<div style="margin-left: 2%; width: 400px; float: left;">
					<span style="font-size: 0.9em"><strong>- EN ESPAÑOL</strong></span>
					<div style="width: 100%;">
						<% if work.titles_text_in_es.present? %>
							<%= f.cktext_area :titles_text_in_es, :ckeditor => { :toolbar => "mini", :language => "es", :width => 385 }, :required => true %>
						<% else %>
							<%= f.cktext_area :titles_text, :ckeditor => { :toolbar => "mini", :language => "es", :width => 385 }, :required => true %>
						<% end %>
					</div>
				</div>

				<!-- Inglés -->
				<div style="margin-left: 2%; width: 400px; float: left;">
					<span style="font-size: 0.9em"><strong>- EN INGLÉS</strong></span>
					<div style="width: 100%;">
						<%= f.cktext_area :titles_text_in_en, :ckeditor => { :toolbar => "mini", :language => "en", :width => 385 }, :required => true %>
					</div>
				</div>
			</div>
		</div>

		<!-- TITULOS DE LA OBRA EN EL RODILLO -->
		<div style="width: 95%; height: 550px; margin-top: 2%; position: relative; outline: 1.5px solid #b4b4b4; border-top: 1px solid #fff; padding: 10px;">
			<span style="font-size: 1.3em"><strong>TITULOS EN EL RODILLO</strong></span>
			
			<div style="margin-top: 1.2%;">

				<!-- Español -->
				<div style="margin-left: 2%; width: 400px; float: left;">
					<span style="font-size: 0.9em"><strong>- EN ESPAÑOL</strong></span>
					<div style="width: 100%;">
						<% if work.titles_text_in_es.present? %>
							<%= f.cktext_area :titles_grid_in_es, :ckeditor => { :toolbar => "mini", :language => "es", :width => 385 }, :required => true %>
						<% else %>
							<%= f.cktext_area :titles_grid, :ckeditor => { :toolbar => "mini", :language => "es", :width => 385 }, :required => true %>
						<% end %>
					</div>
				</div>

				<!-- Inglés -->
				<div style="margin-left: 2%; width: 400px; float: left;">
					<span style="font-size: 0.9em"><strong>- EN INGLÉS</strong></span>
					<div style="width: 100%;">
						<%= f.cktext_area :titles_grid_in_en, :ckeditor => { :toolbar => "mini", :language => "en", :width => 385 }, :required => true %>
					</div>
				</div>
			</div>
		</div>

		<!-- INFORMACION DE LA OBRA -->
		<div style="width: 95%; height: 550px; margin-top: 2%; position: relative; outline: 1.5px solid #b4b4b4; border-top: 1px solid #fff; padding: 10px;">
			<span style="font-size: 1.3em"><strong>INFORMACIÓN DE LA OBRA</strong></span>

			<div style="margin-top: 1.2%;">
				
				<!-- Español -->
				<div style="margin-left: 2%; width: 410px; float: left;">
					<span style="font-size: 0.9em"><strong>- EN ESPAÑOL</strong></span>

					<div id="form-work-es-info-tabs" >
						<!-- ENCABEZADO TABS -->
						<ul>
							<li>
								<%= link_to "#credits", :style => "position: relative; float: left; font-family: latha, latha_ie; font-size: 0.7em;" do %>CREDITOS<% end %>
								<%= f.check_box :has_credits, :checked => work.credits.present?, :style=>"position: relative; float: left;", :id => "has_credits", :onclick => "has_tab(this)" %>
							</li>
							<li>
								<%= link_to "#synopsis", :style => "font-family: latha, latha_ie; font-size: 0.7em;" do %>SINOPSIS<% end %>
								<%= f.check_box :has_synopsis, :checked => work.synopsis.present?, :style=>"position: relative; float: left;", :id => "has_synopsis", :onclick => "has_tab(this)" %>
							</li>
							<li>
								<%= link_to "#notes", :style => "font-family: latha, latha_ie; font-size: 0.7em;" do %>NOTAS<% end %>
								<%= f.check_box :has_notes, :checked => work.notes.present?, :style=>"position: relative; float: left;", :id => "has_notes", :onclick => "has_tab(this)" %>
							</li>
							<li>
								<%= link_to "#program", :style => "font-family: latha, latha_ie; font-size: 0.7em;" do %>PROGRAMA<% end %>
								<%= f.check_box :has_program, :checked => work.program.present?, :style=>"position: relative; float: left;", :id => "has_program", :onclick => "has_tab(this)" %>
							</li>
						</ul>

						<!-- CONTENIDO TABS -->
						<div id="credits" style="padding: 0; margin: 0;">
							<% if work.credits.present? %>
								<%= f.cktext_area :credits_in_es, :ckeditor => { :toolbar => "mini", :language => "es", :height => 180 } %>
							<% else %>
								<%= f.cktext_area :credits, :ckeditor => { :toolbar => "mini", :language => "es", :height => 180 } %>
							<% end %>
						</div>
					
						<div id="synopsis" style="padding: 0; margin: 0;">
							<% if work.synopsis.present? %>
								<%= f.cktext_area :synopsis_in_es, :ckeditor => { :toolbar => "mini", :language => "es", :height => 180 } %>
							<% else %>
								<%= f.cktext_area :synopsis, :ckeditor => { :toolbar => "mini", :language => "es", :height => 180 } %>
							<% end %>
						</div>
					
						<div id="notes" style="padding: 0; margin: 0;">
							<% if work.notes.present? %>
								<%= f.cktext_area :notes_in_es, :ckeditor => { :toolbar => "mini", :language => "es", :height => 180 } %>
							<% else %>
								<%= f.cktext_area :notes, :ckeditor => { :toolbar => "mini", :language => "es", :height => 180 } %>
							<% end %>
						</div>
		
						<div id="program" style="padding: 0; margin: 0;">
							<% if work.program.present? %>
								<%= f.cktext_area :program_in_es, :ckeditor => { :toolbar => "mini", :language => "es", :height => 180 } %>
							<% else %>
								<%= f.cktext_area :program, :ckeditor => { :toolbar => "mini", :language => "es", :height => 180 } %>
							<% end %>
						</div>

					</div>
				</div>

				<!-- Inglés -->
				<div style="margin-left: 2%; width: 410px; float: left;">
					<span style="font-size: 0.9em"><strong>- EN INGLÉS</strong></span>

					<div id="form-work-en-info-tabs" >
						<!-- ENCABEZADO TABS -->
						<ul>
							<li>
								<%= link_to "#credits_in_en", :style => "font-family: latha, latha_ie; font-size: 0.7em;" do %>CREDITOS<% end %>
								<%= f.check_box :has_credits_in_en, :checked => work.credits.present?, :style=>"position: relative; float: left;", :id => "has_credits_in_en", :onclick => "has_tab(this)" %>
							</li>
							<li>
								<%= link_to "#synopsis_in_en", :style => "font-family: latha, latha_ie; font-size: 0.7em;" do %>SINOPSIS<% end %>
								<%= f.check_box :has_synopsis_in_en, :checked => work.synopsis.present?, :style=>"position: relative; float: left;", :id => "has_synopsis_in_en", :onclick => "has_tab(this)" %>
							</li>
							<li>
								<%= link_to "#notes_in_en", :style => "font-family: latha, latha_ie; font-size: 0.7em;" do %>NOTAS<% end %>
								<%= f.check_box :has_notes_in_en, :checked => work.notes.present?, :style=>"position: relative; float: left;", :id => "has_notes_in_en", :onclick => "has_tab(this)" %>
							</li>
							<li>
								<%= link_to "#program_in_en", :style => "font-family: latha, latha_ie; font-size: 0.7em;" do %>PROGRAMA<% end %>
								<%= f.check_box :has_program_in_en, :checked => work.program.present?, :style=>"position: relative; float: left;", :id => "has_program_in_en", :onclick => "has_tab(this)" %>
							</li>
						</ul>

						<!-- CONTENIDO TABS -->
						<div id="credits_in_en" style="padding: 0; margin: 0;">
							<%= f.cktext_area :credits_in_en, :ckeditor => { :toolbar => "mini", :language => "en", :height => 180 } %>
						</div>
						
						<div id="synopsis_in_en" style="padding: 0; margin: 0;">
							<%= f.cktext_area :synopsis_in_en, :ckeditor => { :toolbar => "mini", :language => "en", :height => 180 } %>
						</div>
						
						<div id="notes_in_en" style="padding: 0; margin: 0;">
							<%= f.cktext_area :notes_in_en, :ckeditor => { :toolbar => "mini", :language => "en", :height => 180 } %>
						</div>
			
						<div id="program_in_en" style="padding: 0; margin: 0;">
							<%= f.cktext_area :program_in_en, :ckeditor => { :toolbar => "mini", :language => "en", :height => 180 } %>
						</div>

					</div>
				</div>

				
			</div>
		</div>

		<!-- CONTENIDO MULTIMEDIA -->
		<div id="form-work-multimedia" style="position: relative; width: 95%; margin-top: 2%; outline: 1.5px solid #b4b4b4; border-top: 1px solid #fff; padding: 10px;">
			<span><strong>CONTENIDO MULTIMEDIA</strong></span>

			<!-- VIDEO -->
			<div id="form-work-video-div" style="margin-top: 1%; font-family: latha, latha_ie; font-size: 1em;">
				<strong>- VIDEO</strong>

				<div id="has-video-div" style="margin-left: 1%;">
					<%= f.check_box :has_video, :checked => true, :onclick => "has_video(this)" %> ¿Tiene video?
				</div>

				<div id="uploader-video-div" style="margin-left: 1%;">
					<%= f.label :video, "Archivo de video: " %>
					<%= f.file_field :video, :style => "width: 25.5%; font-family: latha, latha_ie; font-size: 0.9em;", :class => "pure-button",
						accept: "video/mp4,video/webm,video/mpeg" %>
				</div>

				<div id="uploader-video-thumb-div" style="margin-left: 1%;">
					<%= f.label :videothumb, "Imágen muestra de video: " %>
					<%= f.file_field :videothumb, :style => "width: 25.5%; font-family: latha, latha_ie; font-size: 0.9em;", :class => "pure-button",
						accept: "image/png,image/gif,image/jpeg" %>
				</div>
			</div>

			<% if !work.id.present? %>
				<!-- IMAGENES -->
				<div id="form-work-images-div" style="margin-top: 2.5%; font-family: latha, latha_ie; font-size: 1em;">
					<strong>- IMÁGENES</strong>

					<div id="form-work-images-tabs" >
						<ul id="form-work-images-header" style="font-size: 0.8em;"></ul>
					</div>

					<!-- Links to add -->
					<div id="add_GALERIA_folder" style="display: none">
						<%= link_to_add_fields "", f, :file_folders, "GALERIA", "GALLERY", false %>
					</div>
					<div id="add_DETRASDE_folder" style="display: none">
						<%= link_to_add_fields "", f, :file_folders, "DETRAS DE", "BEHIND", false %>
					</div>
					<div id="add_OTROS_folder" style="display: none">
						<%= link_to_add_fields "", f, :file_folders, "OTROS", "OTHERS", false %>
					</div>
					<div id="add_DEFAULT_folder" style="display: none">
						<%= link_to_add_fields "", f, :file_folders, "DEFAULT", "DEFAULT", false %>
					</div>
					<div id="add_folder" style="display: none">
						<%= link_to_add_fields "", f, :file_folders, "false", "false", true %>
					</div>
				</div>
			<% else %>
				<div style="margin-top: 5px;">
					<i>AVISO:</i>
				</div>
				<div>
					<i>Para eliminar o agregar imágenes vaya a
					<span style="background: #A5A5A5;">Obras <i class="fa fa-angle-right"></i> Obras cargadas <i class="fa fa-angle-right"></i> "EDITAR CARPETAS".</span></i>
				</div>
			<% end %>

		</div>

		<div style="margin-top: 1.6%; margin-right: 2.6%; float: right;">
			<%= f.submit "GUARDAR OBRA", id: "submit_form", :class => "pure-button pure-button-primary" %>
		</div>
		<br>
		<br>
		<br>
	<% end %>
</div>