<script type="text/javascript">
	function putTextInfo(id_elem) {
		var credits_htmlstr = "<%= j work.credits.html_safe if !work.credits.nil? %>";
		var synopsis_htmlstr = "<%= j work.synopsis.html_safe if !work.synopsis.nil? %>";
		var notes_htmlstr = "<%= j work.notes.html_safe if !work.notes.nil? %>";
		var program_htmlstr = "<%= j work.program.html_safe if !work.program.nil? %>";

		if(id_elem == "credits") {
			$("#work-info-text-content-minima").html(credits_htmlstr);
		} else if(id_elem == "synopsis") {
			$("#work-info-text-content-minima").html(synopsis_htmlstr);
		} else if(id_elem == "notes") {
			$("#work-info-text-content-minima").html(notes_htmlstr);
		} else if(id_elem == "program") {
			$("#work-info-text-content-minima").html(program_htmlstr);
		}

		if(($(".work-info-text-minima").data("jsp"))) {
			$(".work-info-text-minima").data("jsp").destroy();
  		}

  		$(".work-info-text-minima").bind("jsp-initialised", function(event, isScrollable) {
  			// Se redimensiona el area scrollable
			$(".jspContainer").css("width", "91%");
			$(".jspContainer").css("margin-right", "2.75%");
			$(".jspContainer").css("margin-left", "6.25%");
		}).jScrollPane({hideFocus: true });

		correctLineHeight("work-info-text-content-minima");
  	}

	$(function() {
		correctLineHeight("work-info-title-minima");

		putTextInfo("credits");
	});
</script>

<div id="work-container-minima">
	<div id="work-display-minima">
	</div>

	<div id="work-info-minima">
		<div id="work-info-title-minima" >
			<div id="work-info-title-content-minima">
				<%= work.titles_text.html_safe %>
			</div>
		</div>

		<div class="work-info-text-minima" style="width: 100%; height: 401px; float: right; margin-top: 0px;">
			<div id="work-info-text-content-minima" style="width: 89.05%; height: auto;"></div>
		</div>

		<div id="work-info-menu-navigator">
			<ul id="work-info-menu">
				<% if !work.credits.nil? %>
					<li class="work-info-menu-item" style="margin-right: 2px;" onclick="putTextInfo('credits');" ><div><%= t(:credits_menu) %></div></li>
				<% end  %>
				<% if !work.synopsis.nil? %>
					<li class="work-info-menu-item" style="margin-right: 2px;" onclick="putTextInfo('synopsis');" ><div><%= t(:synopsis_menu) %></div></li>
				<% end  %>
				<% if !work.notes.nil? %>
					<li class="work-info-menu-item" style="width: 45px; margin-right: 3px;" onclick="putTextInfo('notes');" ><div><%= t(:notes_menu) %></div></li>
				<% end  %>
				<% if !work.program.nil? %>
					<li class="work-info-menu-item" style="width: 60px; margin-left: 3px;" onclick="putTextInfo('program');" ><div><%= t(:program_menu) %></div></li>
				<% end  %>
			</ul>
		</div>
	</div>
</div>