<style type="text/css">
	html {
		width: 100%;
		height: auto;

		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;

		background: #a3a3a3;
	}

	body {
		width: 100%;
		height: auto;

		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;

		background: linear-gradient(top , #FFFFFF, #a3a3a3) repeat-x;	
		background: -moz-linear-gradient(top , #FFFFFF , #a3a3a3) repeat-x;
		background: -webkit-linear-gradient(top , #FFFFFF , #a3a3a3)repeat-x;
		background: -ms-linear-gradient(top, #FFFFFF 0%, #a3a3a3 300%) repeat-x;
		background: -o-linear-gradient(#FFFFFF , #a3a3a3);
		background-image: -ms-linear-gradient(top, #FFFFFF, #a3a3a3);
		filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#FFFFFF', endColorstr='#a3a3a3');
	}
</style>

<div id="wrapper-tvp" align="center">
	<div id="container-tvp" align="left">

		<!-- BANNER TVP -->
		<div id="banner-tvp" >
			<%= render partial: "shared/banner_tvp", locals: { :bco => false } %>
		</div>

		<!-- MENU TVP -->
		<div style="margin-top: 25px;">
			<%= render partial: "shared/menu_tvp" %>
		</div>

		<!-- GRIDS -->
		<div id="work-grids-container"></div>

		<!-- BARRA BAJA -->
		<div id="lower-bar" style="width: 100%; height: 40px; position:relative; float: left; background: #000000; margin-top: 0px;"></div>

		<!-- LEGALES -->
		<div id="legals-tvp">
			<%= render partial: "shared/legals_tvp", locals: { :bco => false } %>
		</div>
		<br>
		<br>

	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		// Hacemos la peticion ajax de los caruseles mobil y de escritorio
		//if($("html").hasClass("ui-mobile")) {
			if(true) {
			$.ajax({
				type: "GET",
				url: "<%= works_index_mobile_path %>",
				dataType: "html",
				async: false,
				success: function(response) {

					// Agregamos las flechas a la barra
					// Prev
					var divPrev = document.createElement("div");
					$(divPrev).attr("id", "prev_works");

					var imgPrev = new Image();
					imgPrev.onload = function() {
						$(divPrev).append(imgPrev);
					};
					imgPrev.src = "/assets/prev_gallery.png";

					// Next
					var divNext = document.createElement("div");
					$(divNext).attr("id", "next_works");

					var imgNext = new Image();
					imgNext.onload = function() {
						$(divNext).append(imgNext);
					};
					imgNext.src = "/assets/next_gallery.png";

					$("#lower-bar").append(divPrev);
					$("#lower-bar").append(divNext);

					// Vaciamos el contenedor
					$("#work-grids-container").empty();

					// Agregamos el codigo html
					$("#work-grids-container").html(response);					
				}
			});
		} else {
			$.ajax({
				type: "GET",
				url: "<%= works_index_desktop_path %>",
				dataType: "html",
				async: false,
				success: function(response) {

					// Vaciamos el contenedor
					$("#work-grids-container").empty();

					// Agregamos el codigo html
					$("#work-grids-container").html(response);
				}
			});
		}
	});
</script>
