
<%= form_for :work, url: works_path, :html => {:id =>"form-new-work", :class => "pure-form pure-form-stacked", :style => "position: relative; "} do |f| %>
	<div>
		<%= f.label :type_work, "Tipo de Obra: " %>
		<%= f.select :type_work, [["Full", "full"], ["Mediana", "mediana"], ["Minima", "minima"], ["Minima con galeria", "minima_minima"]] %><br>
	</div>

	<div style="position:relative;">
		<div>
			<%= f.label :title, "Titulo: " %>
			<%= f.text_field :title, :autofocus => true, size: 30 %>
		</div>

		<div>
			<%= f.label :subtitle, "Subitulo: " %>
			<%= f.text_field :subtitle, :autofocus => true, size: 30 %>
		</div>

		<div>
			<%= f.label :description, "Descripción: " %>
			<%= f.text_field :description, :autofocus => true, size: 30 %>
		</div>
	</div>

	<div style="position:relative; float: left; margin-left: 2%;">
		<div>
			<%= f.label :title_in_en, "Titulo (Inglés): " %>
			<%= f.text_field :title_in_en, :autofocus => true, size: 30 %>
		</div>

		<div>
			<%= f.label :subtitle_in_en, "Subitulo (Inglés): " %>
			<%= f.text_field :subtitle_in_en, :autofocus => true, size: 30 %>
		</div>

		<div>
			<%= f.label :description, "Descripción (Inglés): " %>
			<%= f.text_field :description, :autofocus => true, size: 30 %>
		</div>
	</div>

	<div>
		<%= f.button "Crear Obra", :class => "pure-button pure-button-primary" %>
	</div>
<% end %>