<div id="wrapper-tvp" >
	<div id="container-tvp" >

		<!-- BANNER TVP -->
		<div id="banner-tvp" >
			<%= render partial: "shared/banner_tvp", locals: { :bco => false } %>
		</div>

		<!-- MENU TVP -->
		<div style="margin-top: 25px;">
			<%= render partial: "shared/menu_tvp" %>
		</div>

		<!-- COLABORADOR -->
		<div id="colaborator-container">

			<!-- SEMBLANZA -->
			<div id="colaborator-semblance-container">

				<!-- TITULO -->
				<div id="colaborator-semblance-title">
					<div id="colaborator-semblance-title-content">
						<span style="width: 100%; font-family: felixti, felixti_ie; font-size: 1em;">COLABORADORES FRECUENTES</span>
					</div>
				</div>

				<!-- TEXTO -->
				<div class="colaborator-semblance-text" style="width: 100%; height: 431px; float: right; margin-top: 0px;">
					<div id="colaborator-semblance-text-content" style="width: 89.05%; height: auto; margin-top: 1px;">
						<ul>
							<% @frequents_colaborators.each.with_index do |colab, index| %>
								<% if index - 1 > 0 %>
									<% previous_ = @frequents_colaborators[index - 1].id %>
								<% else %>
									<% previous_ = @previous %>
								<% end %>

								<% if index + 1 < @frequents_colaborators.length %>
									<% previous_ = @frequents_colaborators[index + 1].id %>
								<% else %>
									<% next_ = @next %>
								<% end %>

								<%= link_to colaborator_path(colab.id) + "?previous=" + previous_.to_s + "&next=" + next_.to_s, :class => "colaborator-link" do %>
									<span style="width: 100%; font-family: felixti, felixti_ie; font-size: 0.875em;">- <%= colab.name.upcase %></span>
								<% end %>
							<% end %>
						</ul>
					</div>
				</div>

				<!-- MENU PARA EL COLABORADOR -->
				<div id="colaborator-info-menu-navigator">
					<ul id="colaborator-info-menu">
						<!-- NEXT -->
						<%= link_to colaborator_path(@next) do %>
							<div style="width: 10px; height: 20px; float: right; margin-right: 41px;">
								<%= image_tag "next.png", :alt => "Siguiente", :style => "width: 100%; height: 100%;" %>
							</div>
						<% end %>

						<!-- PREVIOUS -->
						<%= link_to colaborator_path(@previous) do %>
							<div style="width: 10px; height: 20px; float: right; margin-right: 12px;	">
								<%= image_tag "previous.png", :alt => "Anterior", :style => "width: 10px; height: 20px;" %>
							</div>
						<% end %>
					</ul>
				</div>
			</div>

			<!-- RETRATO -->
			<div id="colaborator-portrait-container">
				<%= image_tag "frecuentes-sprocket.jpg", :style => "width: 100%; height: 100%;" %>
			</div>
		</div>

		<!-- LEGALES -->
		<div id="legals-tvp">
			<%= render partial: "shared/legals_tvp", locals: { :bco => false } %>
		</div>

	</diV>
</div>

<script type="text/javascript">
	$(function() {
		$("html").css("width", "100%");
		$("html").css("min-height", "100%");
		$("html").css("background", "linear-gradient(top , #FFFFFF, #a3a3a3) repeat-x");
		$("html").css("background", "-moz-linear-gradient(top , #FFFFFF , #a3a3a3) repeat-x");
		$("html").css("background", "-webkit-linear-gradient(top , #FFFFFF , #a3a3a3)repeat-x");
		$("html").css("background", "-ms-linear-gradient(top, #FFFFFF , #a3a3a3)repeat-x");
		$("html").css("filter", "progid:DXImageTransform.Microsoft.Gradient(startColorstr='#FFFFFF', endColorstr='#a3a3a3')");

		if(($(".colaborator-semblance-text").data("jsp"))) {
			$(".colaborator-semblance-text").data("jsp").destroy();
		}

		$(".colaborator-semblance-text").bind("jsp-initialised", function(event, isScrollable) {
			// Se redimensiona el area scrollable
			$(".jspContainer").css("width", "91%");
			$(".jspContainer").css("margin-right", "2.75%");
			$(".jspContainer").css("margin-left", "5.556%");
		}).jScrollPane({hideFocus: true });

	});
</script>