<style type="text/css">
	html {
		width: 100%;
		min-height: 100%;

		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;

		background: #a3a3a3;
	}

	body {
		width: 100%;
		min-height: 100%;

		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;

		background: linear-gradient(top , #FFFFFF, #a3a3a3) repeat-x;	
		background: -moz-linear-gradient(top , #FFFFFF , #a3a3a3) repeat-x;
		background: -webkit-linear-gradient(top , #FFFFFF , #a3a3a3)repeat-x;
		background: -ms-linear-gradient(top, #FFFFFF 0%, #a3a3a3 300%) repeat-x;
		background: -o-linear-gradient(#FFFFFF , #a3a3a3);
		background-image: -ms-linear-gradient(top, #FFFFFF, #a3a3a3);
		filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#FFFFFF', endColorstr='#a3a3a3');
	}

</style>

<script type="text/javascript">

	function correctLineHeight(elem) {
		$(elem).find("p").each(function() {
			var maxFontSize = 0;

			$(this).find("span").each(function() {
				var currFontSize = parseInt($(this).css('font-size').replace("px", ""));
				if(maxFontSize < currFontSize) {
					maxFontSize = currFontSize;
				}
			});

			if(maxFontSize == 0) {
				$(this).css("line-height", "9px");
			} else {
				$(this).css("line-height", maxFontSize + "px");
			}
		});
	}

	$(document).ready(function() {

		// Ponemos el link de semblanza
		if($('#semblance').length > 0) {
			$('#semblance').click(function(e) {
				e.preventDefault();
				window.location.href = '<%= @colaborator.semblance.url %>';
			});
		}

		// Ponemos el link del cv
		if($('#cv').length > 0) {
			$('#cv').click(function(e) {
				e.preventDefault();
				window.location.href = '<%= @colaborator.cv.url %>';
			});
		}

		// Corregimos el texto
		correctLineHeight($("#colaborator-semblance-text-content")[0]);

		// Iniciamos el scroll
		$(".colaborator-semblance-text").bind("jsp-initialised", function(event, isScrollable) {
			// Se redimensiona el area scrollable
			$(".colaborator-semblance-text .jspContainer").css({
				"width" : "91.2%",
				"margin-left" : "5.556%"
			});

		}).jScrollPane({
			autoReinitialise: true,
			hideFocus: true
		});
	});

</script>

<div id="wrapper-tvp" align="center">
	<div id="container-tvp" align="left">

		<!-- BANNER TVP -->
		<div id="banner-tvp" >
			<%= render partial: "shared/banner_tvp", locals: { :bco => false } %>
		</div>

		<!-- MENU TVP -->
		<div style="margin-top: 25px;">
			<%= render partial: "shared/menu_tvp" %>
		</div>

		<!-- COLABORADOR -->
		<div id="colaborator-container">

			<!-- SEMBLANZA -->
			<div id="colaborator-semblance-container">
				
				<!-- TITULO -->
				<div id="colaborator-semblance-title">
					<div id="colaborator-semblance-title-content">
						<span style="width: 100%"><%= @colaborator.title.html_safe %></span>
					</div>
				</div>

				<!-- TEXTO -->
				<div class="colaborator-semblance-text">
					<div id="colaborator-semblance-text-content">
						<%= @colaborator.semblance_text.html_safe %>
					</div>
				</div>

				<!-- MENU PARA EL COLABORADOR -->
				<div id="colaborator-info-menu-navigator">
					<ul id="colaborator-info-menu">

						<!-- LINK SEMBLANZA -->
						<% if @colaborator.semblance.present? || @colaborator.semblance_en.present? %>
							<li id="semblance" class="colaborator-info-menu-item" style="margin-left: 5.5%;	">
								<div align="center"><%= t(:semblance) %></div>
							</li>
						<% end %>

						<!-- LINK CV -->
						<% if @colaborator.cv.present? || @colaborator.cv_en.present? %>
							<li id="cv" class="colaborator-info-menu-item">
								<div align="center"><%= t(:cv) %></div>
							</li>
						<% end %>

						<!-- NEXT -->
						<% if @colaborator.next.to_i != -1 %>
							<%= link_to colaborator_path(@colaborator.next), :class => "link-next-page", :data => { :ajax => 'false' } do %>
								<div class="link-next-colab">
									<%= image_tag "next.png", :alt => "Siguiente", :style => "width: 100%; height: 100%;" %>
								</div>
							<% end %>
						<% else %>
							<%= link_to frequents_path, :class => "link-next-page", :data => { :ajax => 'false' } do %>
								<div class="link-next-colab">
									<%= image_tag "next.png", :alt => "Siguiente", :style => "width: 100%; height: 100%;" %>
								</div>
							<% end %>
						<% end %>

						<!-- PREVIOUS -->
						<% if @colaborator.previous.to_i != -1 %>
							<%= link_to colaborator_path(@colaborator.previous), :class => "link-next-page", :data => { :ajax => 'false' } do %>
								<div class="link-prev-colab">
									<%= image_tag "previous.png", :alt => "Anterior", :style => "width: 10px; height: 20px;" %>
								</div>
							<% end %>
						<% else %>
							<%= link_to frequents_path, :class => "link-next-page", :data => { :ajax => 'false' } do %>
								<div class="link-prev-colab">
									<%= image_tag "previous.png", :alt => "Anterior", :style => "width: 10px; height: 20px;" %>
								</div>
							<% end %>
						<% end %>

					</ul>
				</div>
			</div>

			<!-- RETRATO -->
			<div id="colaborator-portrait-container">
				<%= image_tag @colaborator.portrait.url(:display), :style => "width: 100%; height: 100%;" %>
			</div>
		</div>

		<!-- LEGALES -->
		<div id="legals-tvp">
			<%= render partial: "shared/legals_tvp", locals: { :bco => false } %>
		</div>
		<br><br>

	</diV>
</div>