<% if bco %>
	<div id="logo-banner-tvp">
		<%= image_tag "01-LOGO-BCO.png", :id => "logo-01", :style => "width: 100%; height: auto;" %>
		<%= image_tag "02-LOGO-BCO.png", :id => "logo-02", :style => "width: 100%; height: auto; display: none;" %>
	</div>

	<div id="languages">
		<%= link_to "Español", :locale=>"es" %> / <%= link_to "English", :locale=>"en" %>
	</div>

	<script type="text/javascript">
		$(function() {
			$("#logo-banner-tvp").hover(function() {
				$("#logo-01").hide();
				$("#logo-02").show();
			}, function() {
				$("#logo-02").hide();
				$("#logo-01").show();
			});
		});
	</script>
<% else %>
	<div id="logo-banner-tvp">
		<%= image_tag "01-LOGO.png", :id => "logo-01", :style => "width: 100%; height: auto;" %>
		<%= image_tag "02-LOGO.png", :id => "logo-02", :style => "width: 100%; height: auto; display: none;" %>
	</div>

	<div id="languages">
		<%= link_to "Español", :locale=>"es" %> / <%= link_to "English", :locale=>"en" %>
	</div>

	<script type="text/javascript">
		$(function() {
			$("#logo-banner-tvp").hover(function() {
				$("#logo-01").hide();
				$("#logo-02").show();
			}, function() {
				$("#logo-02").hide();
				$("#logo-01").show();
			});
		});
	</script>
<% end %>