<div class="fields">

	<% if cbu == "true" %>

		<!-- HEADER TAB CON TEXT FIELD -->
		<li>
			<%= link_to "#image-folder-tab-", :id => "image-folder-tab-header-", :style => "font-family: latha, latha_ie; font-size: 1em;" do %>
				<div style="float:left; margin-top: 7px;">ESPAÑOL:</div><div style="float:left; margin-left: 5px;"><%= f.text_field :name_folder, :required => true %></div>
				<div style="float:left; margin-top: 7px; margin-left: 8px;">INGLÉS:</div><div style="float:left; margin-left: 5px;"><%= f.text_field :name_folder_in_en, :required => true %></div>
			<% end %>
		</li>
	
	<% else %>

		<!-- HEADER TAB CON NOMBRE DADO -->
		<li style="margin-top: 1.2%;">
			<%= link_to "#image-folder-tab-", :id => "image-folder-tab-header-", :style => "font-family: latha, latha_ie; font-size: 1em;" do %>
				<%= f.hidden_field :name_folder, :value => ff_name %>
				<%= f.hidden_field :name_folder_in_en, :value => ff_name_in_en %>
				<%= ff_name %>
			<% end %>
		</li>
	
	<% end %>

	<!-- DIV DROPZONE -->
	<div id="image-folder-tab-" class="dropzone" style="margin-top: 1%;">
		<%= f.hidden_field :ids_photos, :value => :submitted %>
	</div>

	<!-- LINK TO REMOVE -->
	<div style="display: none">
		<%= link_to_remove_fields "", f, ff_name %>
	</div>

	<% ff_name.gsub! ' ', '_' %>
	<script type="text/javascript">

		// Cambiamos los ids
		$("#image-folder-tab-header-").attr("id", "image-folder-tab-header-" + "<%= ff_name.to_s %>");
		$("#image-folder-tab-header-" + "<%= ff_name.to_s %>").attr("href", "#image-folder-tab-<%= ff_name.to_s %>");
		$("#image-folder-tab-").attr("id", "image-folder-tab-<%= ff_name.to_s %>");

		// Ordenamos los elementos html generados
		$(".fields").each(function() {
			$(this).children().appendTo("#form-work-images-header");
			$(this).remove();
		});
		$("#image-folder-tab-" + "<%= ff_name.to_s %>").appendTo("#form-work-images-tabs");

		// Creamos el dropzone
		var dropzoneDiv = $("#image-folder-tab-" + "<%= ff_name.to_s %>")[0];

		$(dropzoneDiv).dropzone({
			url: "<%= photos_path %>",
			paramName: "image",
			acceptedFiles: "image/png,image/gif,image/jpeg",
			autoProcessQueue: false,
			parallelUploads: 500,
			dictDefaultMessage: "Arrastra las imágenes aquí o has click para agregar...",

			init: function() {

				var dropzoneObj = this;

				// Evento cuando se agrega un archivo para agregarle el boton eliminar
				this.on("addedfile", function(file) {
					var removeButton = Dropzone.createElement("<button class='pure-button'><i class='fa fa-times fa-1'></i> Eliminar</button>");
					var _this = this;
					
					removeButton.addEventListener("click", function(e) {
						e.preventDefault();
						e.stopPropagation();
						
						_this.removeFile(file);
					});
					
					file.previewElement.appendChild(removeButton);
				});

				// Cuando se envía un archivo, para agregarle la CSRFprotecion al xhr
				this.on("sending", function(file, xhr) {
					$.rails.CSRFProtection(xhr);
				});

				// Cuando un archivo es bien recibido por el servidor
				this.on("success", function(file, response) {
					var ids = $(dropzoneObj.element).find("input").attr("value");
					$(dropzoneObj.element).find("input").attr("value", ids + file.xhr.response + ", ");

					var percent = percentSuccessDropzone();
					$("#progressbar").progressbar("value", percentSuccessDropzone());
				});

				// Cuando el archivo es quitado del dropzone
				this.on("complete", function() {
					if(emptyQueues()) {
						$("#progressbar").progressbar("value", false);
						$(".ui-progressbar").css("background", "#ADA9A9");
						$(".ui-progressbar-value").css("background", "#ADA9A9");

						$("#form-work").submit();
					}
				});
			}
		});
		
		$("#form-work-images-tabs").tabs("refresh");
</script>
</div>