<div id="menu-admin">
	<ul id="menu-admin-content">

		<!-- OBRAS -->
		<li class="dropdown-admin"><div class="dropdown-admin-txt">PROYECTOS<i style="float: right; margin-right: 10px; margin-top: 5px;" class="fa fa-angle-right fa-3"></i></div>
			<ul class="dropdown-menu-admin" style="left: 14%; top: 40px;">
				<li id="new-work-menu-item" class="dropdown-item-admin"><div><i class="fa fa-plus"></i> Nueva obra</div></li>
				<li id="works-menu-item" class="dropdown-item-admin"><div><i class="fa fa-list"></i> Obras cargadas</div></li>
				<li id="works-catalog-menu-item" class="dropdown-item-admin"><div><i class="fa fa-th"></i> Rodillo de Obras</div></li>
			</ul>
		</li>

		<li class="dropdown-admin"><div class="dropdown-admin-txt">	NOSOTROS<i style="float: right; margin-right: 10px; margin-top: 5px;" class="fa fa-angle-right fa-3"></i></div>
			<ul class="dropdown-menu-admin" style="left: 14%; top: 85px;">
				<li id="new-colaborator-menu-item" class="dropdown-item-admin"><div><i class="fa fa-user"></i> Nuevo colaborador</div></li>
				<li id="colaborators-menu-item" class="dropdown-item-admin"><div><i class="fa fa-users"></i> Colaboradores cargados</div></li>
				<li id="colaborators-home-menu-item" class="dropdown-item-admin"><div><i class="fa fa-th"></i> Home Colaboradores</div></li>
			</ul>
		</li>

		<li class="dropdown-admin"><div class="dropdown-admin-txt">ACERCA DE<i style="float: right; margin-right: 10px; margin-top: 5px;" class="fa fa-angle-right fa-3"></i></div>
			<ul class="dropdown-menu-admin" style="left: 14%; top: 130px;">
				<li id="we-are-menu-item" class="dropdown-item-admin"><div><i class="fa fa-info-circle"></i> Quienes somos</div></li>
				<li id="we-do-menu-item" class="dropdown-item-admin"><div><i class="fa fa-info-circle"></i> Que hacemos</div></li>
				<li id="projects-list-menu-item" class="dropdown-item-admin"><div><i class="fa fa-list-alt"></i> Lista de Proyectos</div></li>
			</ul>
		</li>

		<li class="dropdown-admin"><div class="dropdown-admin-txt">PRENSA<i style="float: right; margin-right: 10px; margin-top: 5px;" class="fa fa-angle-right fa-3"></i></div>
			<ul class="dropdown-menu-admin" style="left: 14%; top: 175px;">
				<li id="press-menu-item" class="dropdown-item-admin"><div><i class="fa fa-microphone"></i> Nueva Nota de Prensa</div></li>
				<li id="press-notes-menu-item" class="dropdown-item-admin"><div><i class="fa fa-files-o"></i> Notas de Prensa</div></li>
			</ul>
		</li>

		<li class="dropdown-admin"><div class="dropdown-admin-txt">EXTRAS<i style="float: right; margin-right: 10px; margin-top: 5px;" class="fa fa-angle-right fa-3"></i></div>
			<ul class="dropdown-menu-admin" style="left: 14%; top: 220px;">
				<li id="links-menu-item" class="dropdown-item-admin"><div><i class="fa fa-link"></i> Links</div></li>
				<li id="new-download-menu-item" class="dropdown-item-admin"><div><i class="fa fa-download"></i> Nueva Descarga</div></li>
				<li id="new-new-menu-item" class="dropdown-item-admin"><div><i class="fa fa-bullhorn"></i> Nueva Noticia</div></li>
				<li id="admin-news-menu-item" class="dropdown-item-admin"><div><i class="fa fa-comments-o"></i> Noticias</div></li>
			</ul>
		</li>

		<li class="dropdown-admin"><div class="dropdown-admin-txt">HOME<i style="float: right; margin-right: 10px; margin-top: 5px;" class="fa fa-angle-right fa-3"></i></div>
			<ul class="dropdown-menu-admin" style="left: 14%; top: 265px;">
				<li id="carousel-menu-item" class="dropdown-item-admin"><div><i class="fa fa-home"></i> Carousel Home</div></li>
				<li id="news-menu-item" class="dropdown-item-admin"><div><i class="fa fa-files-o"></i> Noticias Home</div></li>
			</ul>
		</li>

		<li class="dropdown-admin"><div class="dropdown-admin-txt">PERFIL ADMIN</div></li>

	</ul>
</div>

<script type="text/javascript">

	function load_admin_module(url_module) {
		$("#content-admin").empty();

		$.ajax({
			type: "GET",
			url: url_module,
			dataType: "html",
			success: function(data) {
				$("#content-admin").append(data);
			}
		});
	}

	//////////////////////////////
	//        M O D U L O       //
	//         O B R A S        //
	//////////////////////////////
	
	// NUEVA OBRA
	$("#new-work-menu-item").click(function() {
		load_admin_module("<%= admin_new_work_path %>");
	});

	// OBRAS CARGADAS
	$("#works-menu-item").click(function() {
		$("input").remove();
		load_admin_module("<%= admin_works_path %>");
	});

	// RODILLAS DE OBRAS
	$("#works-catalog-menu-item").click(function() {
		$("input").remove();
		load_admin_module("<%= admin_works_grids_path %>");
	});

	///////////////////////////////
	//        M O D U L O        //
	// C O L A B O R A D O R E S //
	///////////////////////////////

	// NUEVA COLABORADOR
	$("#new-colaborator-menu-item").click(function() {
		$("input").remove();
		load_admin_module("<%= admin_new_colaborator_path %>");
	});

	// COLABORADORES CARGADOS
	$("#colaborators-menu-item").click(function() {
		$("input").remove();
		load_admin_module("<%= admin_colaborators_path %>");
	});	

	// HOME COLABORADORES
	$("#colaborators-home-menu-item").click(function() {
		$("input").remove();
		load_admin_module("<%= admin_colaborators_home_path %>");
	});

	///////////////////////////////
	//        M O D U L O        //
	//      N O S O T R O S      //
	///////////////////////////////

	// QUIENES SOMOS
	$("#we-are-menu-item").click(function() {
		$("input").remove();
		load_admin_module("<%= we_are_edit_path %>");
	});

	// QUE HACEMOS
	$("#we-do-menu-item").click(function() {
		$("input").remove();
		load_admin_module("<%= we_do_edit_path %>");
	});

	// LISTA DE PROYECTOS
	$("#projects-list-menu-item").click(function() {
		$("input").remove();
		load_admin_module("<%= list_projects_edit_path %>");
	});

	///////////////////////////////
	//        M O D U L O        //
	//        P R E N S A        //
	///////////////////////////////

	$("#press-menu-item").click(function() {
		$("input").remove();
		load_admin_module("<%= admin_new_press_note_path %>");
	});

	$("#press-notes-menu-item").click(function() {
		$("input").remove();
		load_admin_module("<%= admin_press_notes_path %>");
	});

	///////////////////////////////
	//        M O D U L O        //
	//        E X T R A S        //
	///////////////////////////////

	// LINKS
	$("#links-menu-item").click(function() {
		$("input").remove();
		load_admin_module("<%= links_edit_path %>");
	});

	// DOWNLOADS
	$("#new-download-menu-item").click(function() {
		$("input").remove();
		load_admin_module("<%= admin_new_downloads_path %>");
	});

	// NUEVA NOTICIAS
	$("#new-new-menu-item").click(function() {
		$("input").remove();
		load_admin_module("<%= admin_new_news_path %>");
	});

	// NOTICIAS
	$("#admin-news-menu-item").click(function() {
		$("input").remove();
		load_admin_module("<%= admin_news_path %>");
	});

	///////////////////////////////
	//        M O D U L O        //
	//          H O M E          //
	///////////////////////////////

	// CAROUSEL HOME
	$("#carousel-menu-item").click(function() {
		$("input").remove();
		load_admin_module("<%= admin_home_carousel_path %>");
	});

	// CAROUSEL NEWS
	$("#news-menu-item").click(function() {
		$("input").remove();
		load_admin_module("<%= admin_home_news_path %>");
	});

</script>