<div id="menu-admin">
	<ul id="menu-admin-content">

		<!-- OBRAS -->
		<li class="dropdown-admin"><div class="dropdown-admin-txt">OBRAS<i style="float: right; margin-right: 10px; margin-top: 5px;" class="fa fa-angle-right fa-3"></i></div>
			<ul class="dropdown-menu-admin" style="left: 14%; top: 40px;">
				<li id="new-work-menu-item" class="dropdown-item-admin"><div><i class="fa fa-plus"></i> Nueva obra</div></li>
				<li id="works-menu-item" class="dropdown-item-admin"><div><i class="fa fa-list"></i> Obras cargadas</div></li>
				<li id="works-catalog-menu-item" class="dropdown-item-admin"><div><i class="fa fa-th"></i> Rodillo de Obras</div></li>
			</ul>
		</li>

		<li class="dropdown-admin"><div class="dropdown-admin-txt">COLABORADORES<i style="float: right; margin-right: 10px; margin-top: 5px;" class="fa fa-angle-right fa-3"></i></div>
			<ul class="dropdown-menu-admin" style="left: 14%; top: 85px;">
				<li id="new-colaborator-menu-item" class="dropdown-item-admin"><div><i class="fa fa-user"></i> Nuevo colaborador</div></li>
				<li id="colaborators-menu-item" class="dropdown-item-admin"><div><i class="fa fa-users"></i> Colaboradores cargados</div></li>
				<li id="colaborators-home-menu-item" class="dropdown-item-admin"><div><i class="fa fa-th"></i> Home Colaboradores</div></li>
			</ul>
		</li>

		<li class="dropdown-admin"><div class="dropdown-admin-txt">NOSOTROS<i style="float: right; margin-right: 10px; margin-top: 5px;" class="fa fa-angle-right fa-3"></i></div>
			<ul class="dropdown-menu-admin" style="left: 14%; top: 130px;">
				<li id="we-are-menu-item" class="dropdown-item-admin"><div><i class="fa fa-info-circle"></i> Quienes somos</div></li>
				<li id="we-do-menu-item" class="dropdown-item-admin"><div><i class="fa fa-info-circle"></i> Que hacemos</div></li>
				<li id="projects-list-menu-item" class="dropdown-item-admin"><div><i class="fa fa-list-alt"></i> Lista de Proyectos</div></li>
			</ul>
		</li>

		<li class="dropdown-admin"><div class="dropdown-admin-txt">PRENSA</div></li>

		<li class="dropdown-admin"><div class="dropdown-admin-txt">EXTRAS<i style="float: right; margin-right: 10px; margin-top: 5px;" class="fa fa-angle-right fa-3"></i></div>
			<ul class="dropdown-menu-admin" style="left: 14%; top: 220px;">
				<li id="we-are-menu-item" class="dropdown-item-admin"><div><i class="fa fa-link"></i> Links</div></li>
				<li id="we-do-menu-item" class="dropdown-item-admin"><div><i class="fa fa-download"></i> Descargas</div></li>
				<li id="projects-list-menu-item" class="dropdown-item-admin"><div><i class="fa fa-bullhorn"></i> Noticias</div></li>
				<li id="projects-list-menu-item" class="dropdown-item-admin"><div><i class="fa fa-comment"></i> Contacto</div></li>
			</ul>
		</li>

		<li class="dropdown-admin"><div class="dropdown-admin-txt">HOME<i style="float: right; margin-right: 10px; margin-top: 5px;" class="fa fa-angle-right fa-3"></i></div>
			<ul class="dropdown-menu-admin" style="left: 14%; top: 265px;">
				<li id="carousel-menu-item" class="dropdown-item-admin"><div><i class="fa fa-home"></i> Carousel Home</div></li>
			</ul>
		</li>

		<li class="dropdown-admin"><div class="dropdown-admin-txt">PERFIL ADMIN</div></li>

	</ul>
</div>

<script type="text/javascript">

	//////////////////////////////
	//        M O D U L O       //
	//         O B R A S        //
	//////////////////////////////
	
	// NUEVA OBRA
	$("#new-work-menu-item").click(function() {
		$("#content-admin").empty();

		$.ajax({
			type: "GET",
			url: "<%= admin_new_work_path %>",
			dataType: "html",
			success: function(data) {
				$("#content-admin").append(data);
			}
		});
		
	});

	// OBRAS CARGADAS
	$("#works-menu-item").click(function() {
		$("#content-admin").empty();
		$("input").remove();

		$.ajax({
			type: "GET",
			url: "<%= admin_works_path %>",
			dataType: "html",
			success: function(data) {
				$("#content-admin").append(data);
			}
		});

	});

	// RODILLAS DE OBRAS
	$("#works-catalog-menu-item").click(function() {
		$("#content-admin").empty();
		$("input").remove();

		$.ajax({
			type: "GET",
			url: "<%= admin_works_grids_path %>",
			dataType: "html",
			success: function(data) {
				$("#content-admin").append(data);
			}
		});
	});

	///////////////////////////////
	//        M O D U L O        //
	// C O L A B O R A D O R E S //
	///////////////////////////////

	// NUEVA COLABORADOR
	$("#new-colaborator-menu-item").click(function() {
		$("#content-admin").empty();
		$("input").remove();

		$.ajax({
			type: "GET",
			url: "<%= admin_new_colaborator_path %>",
			dataType: "html",
			success: function(data) {
				$("#content-admin").append(data);
			}
		});
	});

	// COLABORADORES CARGADOS
	$("#colaborators-menu-item").click(function() {
		$("#content-admin").empty();
		$("input").remove();

		$.ajax({
			type: "GET",
			url: "<%= admin_colaborators_path %>",
			dataType: "html",
			success: function(data) {
				$("#content-admin").append(data);
			}
		});
	});	

	// HOME COLABORADORES
	$("#colaborators-home-menu-item").click(function() {
		$("#content-admin").empty();
		$("input").remove();

		$.ajax({
			type: "GET",
			url: "<%= admin_colaborators_home_path %>",
			dataType: "html",
			success: function(data) {
				$("#content-admin").append(data);
			}
		});
	});

	///////////////////////////////
	//        M O D U L O        //
	//      N O S O T R O S      //
	///////////////////////////////

	// QUIENES SOMOS
	$("#we-are-menu-item").click(function() {
		$("#content-admin").empty();
		$("input").remove();

		$.ajax({
			type: "GET",
			url: "<%= we_are_edit_path %>",
			dataType: "html",
			success: function(data) {
				$("#content-admin").append(data);
			}
		});
	});

	// QUE HACEMOS
	$("#we-do-menu-item").click(function() {
		$("#content-admin").empty();
		$("input").remove();

		$.ajax({
			type: "GET",
			url: "<%= we_do_edit_path %>",
			dataType: "html",
			success: function(data) {
				$("#content-admin").append(data);
			}
		});
	});

	// LISTA DE PROYECTOS
	$("#projects-list-menu-item").click(function() {
		$("#content-admin").empty();
		$("input").remove();

		$.ajax({
			type: "GET",
			url: "<%= list_projects_edit_path %>",
			dataType: "html",
			success: function(data) {
				$("#content-admin").append(data);
			}
		});
	});

	///////////////////////////////
	//        M O D U L O        //
	//        E X T R A S        //
	///////////////////////////////

	///////////////////////////////
	//        M O D U L O        //
	//          H O M E          //
	///////////////////////////////

	// CAROUSEL HOME
	$("#carousel-menu-item").click(function() {
		$("#content-admin").empty();
		$("input").remove();

		$.ajax({
			type: "GET",
			url: "<%= admin_home_carousel_path %>",
			dataType: "html",
			success: function(data) {
				$("#content-admin").append(data);
			}
		});
	});
</script>