<style type="text/css">
	html {
		width: 100%;
		height: auto;

		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;

		background: #a3a3a3;
	}

	body {
		width: 100%;
		height: auto;

		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;

		background: linear-gradient(top , #FFFFFF, #a3a3a3) repeat-x;	
		background: -moz-linear-gradient(top , #FFFFFF , #a3a3a3) repeat-x;
		background: -webkit-linear-gradient(top , #FFFFFF , #a3a3a3)repeat-x;
		background: -ms-linear-gradient(top, #FFFFFF , #a3a3a3)repeat-x;
		filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#FFFFFF', endColorstr='#a3a3a3');
	}

	#menu-tvp {
		margin-top: -4px;
	}
</style>

<div id="wrapper-tvp" align="center">
	<div id="container-tvp" align="left">

		<!-- BANNER TVP -->
		<div id="banner-tvp" >
			<%= render partial: "shared/banner_tvp", locals: { :bco => false } %>
		</div>

		<!-- MENU TVP -->
		<div style="margin-top: 25px;">
			<%= render partial: "shared/menu_tvp" %>
		</div>

		<!-- CONTAINER -->
		<div id="contact-container">
			
			<!-- 2px blancos -->
			<div style="width: 100%; height: 2px; position: relative; float: left; background: #FFF;"></div>

			<!-- CONTENT -->
			<div id="contact-content">
				
				<!-- COLUMNA 1 -->
				<div class="column-contact">
					<div class="contact-xtr-img">
						<%= image_tag "contact/contact01.png" %>
					</div>

					<!-- 2px blancos -->
					<div style="width: 100%; height: 2px; position: relative; float: left; background: #FFF;"></div>

					<div class="contact-img">
						<%= image_tag "contact/contact02.png" %>
					</div>

					<!-- 2px blancos -->
					<div style="width: 100%; height: 2px; position: relative; float: left; background: #FFF;"></div>

					<div class="contact-img">
						<%= image_tag "contact/contact03.png" %>
					</div>

					<!-- 2px blancos -->
					<div style="width: 100%; height: 2px; position: relative; float: left; background: #FFF;"></div>

					<div class="contact-xtr-img">
						<%= image_tag "contact/contact04.png" %>
					</div>
				</div>

				<!-- 2px blancos verticales -->
				<div style="width: 0.2%; height: 496px; position: relative; float: left; background: #FFF;"></div>

				<!-- FORMULARIO CONTACTO -->
				<div id="form-contact-parent">
					<div id="form-contact-container">

						<span style="font-family: felixti, felixti_ie; font-size: 1.1em; color: #FFF;">TORRE DE VIENTO PRODUCCIONES</span>
						<span style="font-family: euphemia, euphemia_ie; font-size: 0.83em; color: #FFF; line-height: 2.4em;">contacto@torredevientoproducciones.com</span>

						<!-- FORMULARIO -->
						<div id="form-contact">
							<%= form_tag(contact_mail_path, method: :post, remote: true, id: "form-contact") do %>

								<!-- NOMBRE -->
								<%= label_tag t(:name_contact) %>
								<%= text_field_tag 'name', nil, :required => true, id: "name-contact" %>

								<!-- EMAIL -->
								<%= label_tag t(:mail_contact) %>
								<%= email_field_tag 'mail', nil, :required => true, id: "email-contact" %>

								<!-- MENSAJE -->
								<%= label_tag t(:msg_contact) %>
								<%= text_area_tag 'mssg', nil, :required => true, id: "mmsg-contact" %>

								<!-- ENVIAR -->
								<div style="width: 100%; position: relative; float: left; margin-top: 10px; margin-left: 1.4%">
									<%= submit_tag t(:send_contact) %>
								</div>
							<% end %>

							<!-- RETROALIMENTACION -->
							<div id="retro-contact">
								Su mensaje ha sido enviado.<br>Muchas gracias.
							</div>
						</div>
					</div>
				</div>

				<!-- 2px blancos verticales -->
				<div style="width: 0.2%; height: 496px; position: relative; float: left; background: #FFF;"></div>

				<!-- COLUMNA 2 -->
				<div class="column-contact">
					<div class="contact-xtr-img">
						<%= image_tag "contact/contact05.png" %>
					</div>

					<!-- 2px blancos -->
					<div style="width: 100%; height: 2px; position: relative; float: left; background: #FFF;"></div>

					<div class="contact-img">
						<%= image_tag "contact/contact06.png" %>
					</div>

					<!-- 2px blancos -->
					<div style="width: 100%; height: 2px; position: relative; float: left; background: #FFF;"></div>

					<div class="contact-img">
						<%= image_tag "contact/contact07.png" %>
					</div>

					<!-- 2px blancos -->
					<div style="width: 100%; height: 2px; position: relative; float: left; background: #FFF;"></div>

					<div class="contact-xtr-img">
						<%= image_tag "contact/contact08.png" %>
					</div>
				</div>
			</div>

			<!-- 2px blancos -->
			<div style="width: 100%; height: 2px; position: relative; float: left; background: #FFF;"></div>

			<!-- FRANJA NEGRA -->
			<div style="width: 100%; height: 50px; position: relative; float: left; background: #000;"></div>

		</div>

		<!-- LEGALES -->
		<div id="legals-tvp">
			<%= render partial: "shared/legals_tvp", locals: { :bco => false } %>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function() {
		$("html").css("width", "100%");
		$("html").css("min-height", "100%");
		$("html").css("background", "linear-gradient(top , #FFFFFF, #a3a3a3) repeat-x");
		$("html").css("background", "-moz-linear-gradient(top , #FFFFFF , #a3a3a3) repeat-x");
		$("html").css("background", "-webkit-linear-gradient(top , #FFFFFF , #a3a3a3)repeat-x");
		$("html").css("background", "-ms-linear-gradient(top, #FFFFFF , #a3a3a3)repeat-x");
		$("html").css("filter", "progid:DXImageTransform.Microsoft.Gradient(startColorstr='#FFFFFF', endColorstr='#a3a3a3')");

		// Formulario
		$("#form-contact").bind("ajax:success", function(evt, data, status, xhr) {
			$("#name-contact").val("");
			$("#email-contact").val("");
			$("#mmsg-contact").val("");

			// Mostramos la retroalimentacion
			$("#retro-contact").show();
		});

	});
</script>