<style type="text/css">
	html {
		width: 100%;
		min-height: 100%;

		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;

		background: #a3a3a3;
	}

	body {
		width: 100%;
		min-height: 100%;

		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;

		background: linear-gradient(top , #FFFFFF, #a3a3a3) repeat-x;	
		background: -moz-linear-gradient(top , #FFFFFF , #a3a3a3) repeat-x;
		background: -webkit-linear-gradient(top , #FFFFFF , #a3a3a3)repeat-x;
		background: -ms-linear-gradient(top, #FFFFFF 0%, #a3a3a3 300%) repeat-x;
		background: -o-linear-gradient(#FFFFFF , #a3a3a3);
		background-image: -ms-linear-gradient(top, #FFFFFF, #a3a3a3);
		filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#FFFFFF', endColorstr='#a3a3a3');
	}
</style>

<div id="wrapper-tvp" align="center">
	<div id="container-tvp" align="left">

		<!-- BANNER TVP -->
		<div id="banner-tvp" >
			<%= render partial: "shared/banner_tvp", locals: { :bco => false } %>
		</div>

		<!-- CAROUSEL -->
		<div id="carousel-wrapper">

			<!-- CARRUSEL HORIZONTAL -->
			<div id="carousel-horizontal-wrapper">
				<div id="carousel-horizontal">
					<% @carousel.elements_inorder.reverse.each do |carousel_elem| %>
						<% if carousel_elem.photo.present? %>
							<div class="carousel-elem" data="<%= carousel_elem.x %>;<%= carousel_elem.y %>;<%= carousel_elem.w %>;<%= carousel_elem.h %>">
								<%= image_tag Photo.find(carousel_elem.photo).image.url(:display) %>
							</div>
						<% end %>
					<% end %>
				</div>
			</div>

			<!--CARRUSEL VERTICAL -->
			<div id="carousel-vertial-wrapper">
				<div id="carousel-vertical">
					<% @carousel.elements_inorder.reverse.each do |carousel_elem| %>
						<% if carousel_elem.photo.present? %>
							<div>
								<%= image_tag Photo.find(carousel_elem.photo).image.url(:display), :style => "width: 480px; height: 320px;" %>
							</div>
						<% end %>
					<% end %>
				</div>
			</div>

			<!-- FLECHAS -->
			<div class="clearfix"></div>
			<div class="prev-home" id="galeria-prev"><%= image_tag 'prev_gallery.png', :style => 'width: 100%; height: 100%' %></div>
			<div class="next-home" id="galeria-next"><%= image_tag 'next_gallery.png', :style => 'width: 100%; height: 100%' %></div>
		</div>

		<!-- MENU TVP -->
		<%= render partial: "shared/menu_tvp" %>

		<!-- NOTICIAS -->
		<div id="news-home-container">
			
			<!-- NOTICIA 1 -->
			<div id="home-news-1" class="home-news" style="width: 24.875%;">
				<% if !@home_news[0].nil? %>
					<%= image_tag @home_news[0].thumbnail.url(:display2), :style => "width: 100%; height: 100%;" %>

					<%= link_to news_show_path(@home_news[0].id) do %>
						<div class="news-link">
							<div style="">
								<%= @home_news[0].link.html_safe %>
							</div>
						</div>
					<% end %>
				<% end %>
			</div>

			<!-- SEPARATOR -->
			<div style="position: relative; float: left; width: 0.25%; height: 100%; background: #FFF;"></div>

			<!-- NOTICIA 2 -->
			<div id="home-news-2" class="home-news" style="width: 24.75%;">
				<% if !@home_news[1].nil? %>
					<%= image_tag @home_news[1].thumbnail.url(:display2), :style => "width: 100%; height: 100%;" %>

					<%= link_to news_show_path(@home_news[1].id) do %>
						<div class="news-link">
							<div style="">
								<%= @home_news[1].link.html_safe %>
							</div>
						</div>
					<% end %>
				<% end %>
			</div>

			<!-- SEPARATOR -->
			<div style="position: relative; float: left; width: 0.25%; height: 100%; background: #FFF;"></div>

			<!-- NOTICIA 3 -->
			<div id="home-news-3" class="home-news" style="width: 24.75%;">
				<% if !@home_news[2].nil? %>
					<%= image_tag @home_news[2].thumbnail.url(:display2), :style => "width: 100%; height: 100%;" %>

					<%= link_to news_show_path(@home_news[2].id) do %>
						<div class="news-link">
							<div style=""> 
								<%= @home_news[2].link.html_safe %>
							</div>
						</div>
					<% end %>
				<% end %>
			</div>

			<!-- SEPARATOR -->
			<div style="position: relative; float: left; width: 0.25%; height: 100%; background: #FFF;"></div>

			<!-- NOTICIA 4 -->
			<div id="home-news-4" class="home-news" style="width: 24.875%;">
				<% if !@home_news[3].nil? %>
					<%= image_tag @home_news[3].thumbnail.url(:display2), :style => "width: 100%; height: 100%;" %>

					<%= link_to news_show_path(@home_news[3].id) do %>
						<div class="news-link">
							<div style="">
								<%= @home_news[3].link.html_safe %>
							</div>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>

		<!-- LEGALES -->
		<div id="legals-tvp">
			<%= render partial: "shared/legals_tvp", locals: { :bco => false } %>
		</div>
		<br><br>

	</div>
</div>

<!-- SCRIPT PARA EL CAROUSEL -->
<script type="text/javascript">
	$(document).ready(function() {

		// Se corrigen las imagenes
		$(".carousel-elem").each(function() {
			if($(this).attr("data") != "") {
				// Se colocan bien las imagenes
				var img = $(this).find("img");

				if(img.length > 0) {
					var dataAttr = $(this).attr("data").split(";");
					var data = {
						x: parseFloat(dataAttr[0]),
						y: parseFloat(dataAttr[1]),
						w: parseFloat(dataAttr[2]),
						h: parseFloat(dataAttr[3]),
					}

					img.css({
						marginLeft: '-' +  data.x + 'px'
					});
				}
			}
		});

		// Comportamiento del carousel horizontal
		$('#carousel-horizontal').carouFredSel({
			circular: true,
			direction: "right",

			items: {
				visible: 4,
				start: -3
			},
						
			scroll: {
				items: 1,
				fx: "scroll",
				easing: "linear",
				duration: 600
			},

			auto: true
		});

		// Comportamiento del carousel vertical
		$('#carousel-vertical').carouFredSel({
			circular: true,
			direction: "right",
			synchronise: "#carousel-horizontal",

			items: {
				visible: 1,
				start: 0
			},

			scroll: {
				items: 1,
				fx: "scroll",
				easing: "linear",
				duration: 600
			},

			auto: true,
			next: '#galeria-prev',
			prev: '#galeria-next'
		});

		// Pausa en el hover
		$('#carousel-wrapper').hover(function() {
			$("#carousel-horizontal").trigger("pause");
			$("#carousel-vertical").trigger("pause");
		}, function() {
			$("#carousel-horizontal").trigger("play", [500, true]);
			$("#carousel-vertical").trigger("play");
		});

		// Efectos de las noticias
		var newsitems = $('.home-news').find("img");
		for (var i = 0; i < newsitems.length; i++) {
			$(newsitems[i]).hover(function() {
				for (var j = 0; j < newsitems.length; j++) {
					if(newsitems[j] != this) {
						$(newsitems[j]).css('opacity', '0.7');
						$(newsitems[j]).css('filter', 'alpha(opacity = 70)');
					}
				}
			}, function() {
				for (var j = 0; j < newsitems.length; j++) {
					if(i != j) {
						$(newsitems[j]).css('opacity', '1.0');
						$(newsitems[j]).css('filter', 'alpha(opacity = 100)');
					}
				}
			});
		};

	});
</script>