<style type="text/css">
	html {
		width: 100%;
		height: auto;

		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;

		background: #a3a3a3;
	}

	body {
		width: 100%;
		height: auto;

		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;

		background: linear-gradient(top , #FFFFFF, #a3a3a3) repeat-x;	
		background: -moz-linear-gradient(top , #FFFFFF , #a3a3a3) repeat-x;
		background: -webkit-linear-gradient(top , #FFFFFF , #a3a3a3)repeat-x;
		background: -ms-linear-gradient(top, #FFFFFF , #a3a3a3)repeat-x;
		filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#FFFFFF', endColorstr='#a3a3a3');
	}
</style>

<div id="wrapper-tvp" align="center">
	<div id="container-tvp" align="left">

		<!-- BANNER TVP -->
		<div id="banner-tvp" >
			<%= render partial: "shared/banner_tvp", locals: { :bco => false } %>
		</div>

		<!-- MENU TVP -->
		<div style="margin-top: 25px;">
			<%= render partial: "shared/menu_tvp" %>
		</div>

		<!-- INFO -->
		<div id="links-container">
			<!-- 2px blancos -->
			<div style="width: 100%; height: 2px; position: relative; float: left; background: #FFF;"></div>

			<% if @links.image.present? %>
				<% photo_src = @links.image.url(:display) %>
			<% else %>
				<% photo_src = "info_default.png" %>
			<% end %>

			<div id="links-image">
				<%= image_tag photo_src, :style => "width: 100%; height: 100%;" %>
			</div>

			<div id="links-body">
				<span style="font-family: felixti, felixti_ie; font-size: 1.5em; color: #FFF;">LINKS</span>
				<div id="links-body-txt">
					<%= @links.body.html_safe %>
				</div>
				
			</div>

			<!-- 2px blancos -->
			<div style="width: 100%; height: 2px; position: relative; float: left; background: #FFF;"></div>

			<!-- FRANJA NEGRA -->
			<div style="width: 100%; height: 50px; position: relative; float: left; background: #000;"></div>
		</div>		

		<!-- LEGALES -->
		<div id="legals-tvp">
			<%= render partial: "shared/legals_tvp", locals: { :bco => false } %>
		</div>

	</div>
</div>

<script type="text/javascript">
	function correctLineHeight(elem) {
		$(elem).find("p").each(function() {
			var maxFontSize = 0;

			$(this).find("span").each(function() {
				var currFontSize = parseInt($(this).css('font-size').replace("px", "")) - 9;
				if(maxFontSize < currFontSize) {
					maxFontSize = currFontSize;
				}
			});

			if(maxFontSize == 0) {
				$(this).css("line-height", "5px");
			} else {
				$(this).css("line-height", maxFontSize + "px");
			}

			if($(this).html() == "&nbsp;") {
				$(this).remove();
			}
		});
	}

	$(document).ready(function() {
		$("#links-body-txt").jScrollPane({ hideFocus: true });

		correctLineHeight($("#links-body-txt").find(".jspPane"));
		var api = $("#links-body-txt").data('jsp');
		api.reinitialise();
	});

</script>