<style type="text/css">
	html {
		width: 100%;
		height: auto;

		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;

		background: #a3a3a3;
	}

	body {
		width: 100%;
		height: auto;

		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;

		background: linear-gradient(top , #FFFFFF, #a3a3a3) repeat-x;	
		background: -moz-linear-gradient(top , #FFFFFF , #a3a3a3) repeat-x;
		background: -webkit-linear-gradient(top , #FFFFFF , #a3a3a3)repeat-x;
		background: -ms-linear-gradient(top, #FFFFFF , #a3a3a3)repeat-x;
		filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#FFFFFF', endColorstr='#a3a3a3');
	}

	.jspTrack {
		background: #D3D3D3;
	}

	.jspDrag {
		background: #2F2E30;
	}

</style>

<div id="wrapper-tvp" align="center">
	<div id="container-tvp" align="left">
		
		<!-- BANNER TVP -->
		<div id="banner-tvp" >
			<%= render partial: "shared/banner_tvp", locals: { :bco => false } %>
		</div>

		<!-- MENU TVP -->
		<div style="margin-top: 25px;">
			<%= render partial: "shared/menu_tvp" %>
		</div>

		<!-- INFO -->
		<div id="we-are-container">
			<% if @we_are.image.present? %>
				<% photo_src = @we_are.image.url(:display) %>
			<% else %>
				<% photo_src = "info_default.png" %>
			<% end %>

			<div id="we-are-image">
				<%= image_tag photo_src, :style => "width: 100%;" %>
			</div>

			<div id="we-are-body">
				<%= @we_are.body.html_safe %>
			</div>
		</div>

		<!-- BARRA NEGRA -->
		<div style="width: 100%; height: 40px; float: left; background: #000;"></div>

		<!-- LEGALES -->
		<div id="legals-tvp">
			<%= render partial: "shared/legals_tvp", locals: { :bco => false } %>
		</div>

	</div>
</div>

<script type="text/javascript">
	function correctLineHeight(elem) {
		$(elem).find("p").each(function() {
			var maxFontSize = 0;

			$(this).find("span").each(function() {
				var currFontSize = parseInt($(this).css('font-size').replace("px", ""));
				if(maxFontSize < currFontSize) {
					maxFontSize = currFontSize;
				}
			});

			if(maxFontSize == 0) {
				$(this).css("line-height", "9px");
			} else {
				$(this).css("line-height", maxFontSize + "px");
			}
		});
	}

	$(document).ready(function () {
		$("#we-are-body").bind("jsp-initialised", function(event, isScrollable) {
			$("#we-are-body .jspPane").css({
				"margin-top" : "-1px"
			});

			correctLineHeight($(".jspPane")[0]);

			$("#we-are-body .jspPane").css({
				"width" : "98%"
			});
		}).jScrollPane({
			autoReinitialise: true,
			hideFocus: true
		});
	});
</script>