<style type="text/css">
	html {
		width: 100%;
		height: auto;

		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;

		background: #a3a3a3;
	}

	body {
		width: 100%;
		height: auto;

		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;

		background: linear-gradient(top , #FFFFFF, #a3a3a3) repeat-x;	
		background: -moz-linear-gradient(top , #FFFFFF , #a3a3a3) repeat-x;
		background: -webkit-linear-gradient(top , #FFFFFF , #a3a3a3)repeat-x;
		background: -ms-linear-gradient(top, #FFFFFF , #a3a3a3)repeat-x;
		filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#FFFFFF', endColorstr='#a3a3a3');
	}
</style>

<div id="wrapper-tvp" align="center">
	<div id="container-tvp" align="left">

		<!-- BANNER TVP -->
		<div id="banner-tvp" >
			<%= render partial: "shared/banner_tvp", locals: { :bco => false } %>
		</div>

		<!-- MENU TVP -->
		<div style="margin-top: 25px;">
			<%= render partial: "shared/menu_tvp" %>
		</div>

		<!-- INFO -->
		<div id="we-do-container">
			<% if @we_do.image.present? %>
				<% photo_src = @we_do.image.url(:display) %>
			<% else %>
				<% photo_src = "info_default2.jpg" %>
			<% end %>

			<div id="we-do-image">
				<%= image_tag photo_src, :style => "width: 100%;" %>
			</div>

			<div id="we-do-body1"></div>
			<div id="we-do-body2"></div>
			<div style="clear: both"></div>
		</div>

		<!-- BARRA NEGRA -->
		<div style="width: 100%; height: 40px; float: left; background: #000;"></div>

		<!-- LEGALES -->
		<div id="legals-tvp">
			<%= render partial: "shared/legals_tvp", locals: { :bco => false } %>
		</div>

	</div>
</div>

<% if @we_do.body.present? %>
	<script type="text/javascript">
		$(document).ready(function() {
			var we_do_html = "<%=  j @we_do.body.html_safe %>";
			var div_aux = document.createElement("div");
			$(div_aux).html(we_do_html);

			var elems = $(div_aux).children();

			var i;
			for (i = 0; i < elems.length; i++) {
				$("#we-do-body1").append(elems[i]);

				if($(elems[i]).position().top > 500) {
					break;
				}
			}

			// Agregando la primera columna
			k = i;
			$("#we-do-body1").empty();
			for (i = 0; i < k; i++) {
				$("#we-do-body1").append(elems[i]);
			}
			$("#we-do-body1").bind("jsp-initialised", function(event, isScrollable) {
				$("#we-do-body1 .jspPane").css({
					"width" : "96%"
				})
			}).jScrollPane({
				hideFocus: true
			});

			// Agregando la segunda columna
			for (; i < elems.length; i++) {
				$("#we-do-body2").append(elems[i]);
			};
			$("#we-do-body2").bind("jsp-initialised", function(event, isScrollable) {
				$("#we-do-body2 .jspPane").find("p").first().css({
					"margin-top" : "-5px"
				})
			}).jScrollPane({
				hideFocus: true
			});
		});
	</script>
<% end %>