
<style type="text/css">
	html {
		width: 100%;
		height: auto;

		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;

		background: #000;
	}

	body {
		width: 100%;
		height: auto;

		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;

		background: #000;
	}

	#menu-tvp {
		background: #14191d;
	}
</style>

<div id="wrapper-tvp" align="center">
	<div id="container-tvp" align="left">

		<!-- BANNER -->
		<div id="banner-tvp" >
			<%= render partial: "shared/banner_tvp", locals: { :bco => true } %>
		</div>

		<!-- MENU -->
		<div style="margin-top: 25px;">
			<%= render partial: "shared/menu_tvp" %>
		</div>

		<!-- NOTICIAS -->
		<div id="news-container">
			
			<div id="list-news-container">
				<div id="carousel-news">
					<% @news.each do |new_| %>
						<div class="carousel-news-elem" url-new="<%= new_.image_new.url %>" onclick="putNew(this);" id-new="<%= new_.id %>">
							<%= image_tag new_.thumbnail.url(:display1), :style => "width: 100%; height: 100%;" %>
						</div>
					<% end %>
				</div>

				<div id="prev" style="position: absolute; width: 12%; height: 16px; left: 46%; bottom: 374px;">
					<%= image_tag "prev_gallery_up.png", :style => "width: 100%; height: 100%;" %>
				</div>
				<div id="next" style="position: absolute; width: 12%; height: 16px; left: 46%; bottom: 10px;">
					<%= image_tag "next_gallery_down.png", :style => "width: 100%; height: 100%;" %>
				</div>
			</div>

			<div id="news-text-container"></div>

		</div>

		<div id="lower-bar" style="width: 100%; height: 40px; background: #14191d; margin-top: px;"></div>

		<!-- LEGALES -->
		<div id="legals-tvp">
			<%= render partial: "shared/legals_tvp", locals: { :bco => true } %>
		</div>
	</div>
</div>

<script type="text/javascript">

	function correctLineHeight(id_elem) {
		$("#" + id_elem).find("p").each(function() {
			var maxFontSize = 0;

			$(this).find("span").each(function() {
				var currFontSize = parseInt($(this).css('font-size').replace("px", ""));
				if(maxFontSize < currFontSize) {
					maxFontSize = currFontSize;
				}
			});

			if(maxFontSize == 0) {
				$(this).css("line-height", "9px");
			} else {
				$(this).css("line-height", maxFontSize + "px");
			}
		});
	}

	function putNew (div_elem) {
		var img = new Image();
		$(img).addClass("image_new");
		img.onload = function() {
			if(($("#news-text-container").data("jsp"))) {
				$(".image_new").remove();
				$("#news-text-container").find(".jspPane").append(img);
				$("#news-text-container").data("jsp").reinitialise();
			} else {
				$("#news-text-container").append(img);
				$("#news-text-container").jScrollPane({
					autoReinitialise: true,
					hideFocus: true
				});
			}
		}

		img.src = $(div_elem).attr("url-new");
	}

	$(document).ready(function() {

		if("<%= @show_new %>" == "-1") {
			$(".carousel-news-elem").first().click();
		} else {
			$(".carousel-news-elem").each(function() {
				var id_new = $(this).attr("id-new");
				if(id_new == "<%= @show_new %>") {
					$(this).click();
				}
			});
		}

		// CARUSEL
		$("#carousel-news").carouFredSel({
			responsive: true,
			circular: false,
			infinite: false,
			direction: 'down',
			items: {
				visible: {
					min: 4
				}
			},
			scroll: {
				items: 1,
			},
			auto: false,
			prev: '#prev',
			next: '#next'
		});
	});
</script>