<div style="margin-left: 3%; margin-top: 3%;">
	<%= image_tag "01-LOGO.png", :style => "max-width: 20%; height: auto;" %>
</div>

<div style="margin-top: 7%; text-align: center;	font-family: euphemia, euphemia_ie; font-size: 1em;" >
	<h2>ACCESO AL ADMINISTRADOR</h2>
</div>

<div id="access-form" >
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		<div>
			<%= f.label :email, "E-mail: " %> 
			<%= f.email_field :email, :autofocus => true %>
		</div>

		<div>
			<%= f.label :password, "Password: " %> 
			<%= f.password_field :password %>
		</div>

		<% if devise_mapping.rememberable? -%>
			<div>
				<%= f.check_box :remember_me %> <%= f.label :remember_me, "Mantenerme conectado" %>
			</div>
		<% end -%>

		<div>
			<%= f.submit "Acceder" %>
		</div>

	<% end %>

	<div class="devise-links">
		<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
			<br>
			<%= link_to "¿Haz olvidado tu contraseña?", new_password_path(resource_name) %>
		<% end -%>
	</div>
</div>