<div id="grid-edit-images-container" style="float: left;" >

	<!-- GRID -->
	<div id="grid-edit-images-content">

		<div id="work-mediana-edit-images-display" url-dialog="<%= edit_display_path(work) %>?id_div=work-mediana-edit-images-display">
			<%= image_tag "elegir-display.png", :style => "width: 100%; height: 100%;" %>
		</div>
		<div id="work-mediana-edit-images-info"></div>
		<div id="work-mediana-edit-images-galeria" url-dialog="<%= edit_folder_path(work.filefolder('GALERÍA')) %>?id_div=work-mediana-edit-images-galeria">
			<%= image_tag "elegir-portada-galeria.png", :style => "width: 100%; height: 100%;" %>
		</div>
		<div id="work-mediana-edit-images-otros" url-dialog="<%= edit_folder_path(work.filefolder('OTROS')) %>?id_div=work-mediana-edit-images-otros">
			<%= image_tag "elegir-portada-otros.png", :style => "width: 100%; height: 100%;" %>
		</div>

	</div>

	<!-- DIALOG WINDOW -->
	<div id="work-edit-images-dialog" title="" style="display: none; z-index: 3;"></div>

</div>

<%= link_to work_path(work.id) do %>
	<div class="pure-button pure-button-primary" style="float: right; font-family: latha, latha_ie; font-size: 1em; margin-top: 49%; margin-right: 11%;">
		IR A OBRA
	</div>
	<br><br><br>
<% end %>

<script type="text/javascript">

	function loadDialog(title, div) {
		$.ajax({
			type: "GET",
			url: $(div).attr("url-dialog"),
			dataType: "html",
			success: function(data) {
				// Vacia el contenido de la ventana de dialogo
				$("#work-edit-images-dialog").empty();

				// Le cambiamos el titulo
				$("#work-edit-images-dialog").dialog("option", "title", "Seleccione la imagen de display");

				// Se le agrega el contenido
				$("#work-edit-images-dialog").append(data);

				// Se despliega
				$("#work-edit-images-dialog").dialog("open");
			}
		});
	}


	$(function() {

		$("body").css("background", "#FFFFFF");
		$("html").css("background", "#FFFFFF");

		// Se inicia el dialog
		$("#work-edit-images-dialog").dialog({
			width: 1000,
			
			autoOpen: false,
			
			show: "scale",
			hide: "scale",

			dialogClass: "no-close",

			modal: "true"
		});

		// Click en display
		$("#work-mediana-edit-images-display").click(function() {
			loadDialog("Seleccione la imagen de display", this);
		});

		// Click en galeria
		$("#work-mediana-edit-images-galeria").click(function() {
			loadDialog("GALERÍA", this);
		});

		// Click en detras otros
		$("#work-mediana-edit-images-otros").click(function() {
			loadDialog("DETRÁS DE", this);
		});
		
	});

</script>