<div id="work-display-form-container" >

	<!-- FORMULARIO -->
	<%= form_tag(save_display_path(work.id), remote: true, method: "post", id: "work-display-form") do %>

		<div id="display-options">

			<!-- IMAGENES-OPCIONES DISPLAY -->
			<% work.file_folders.each do |file_folder| %>
				<% file_folder.photos.each do |photo| %>
					<div class="img-display-option">
						<% if work.display.to_s == photo.id.to_s %>
							<%= radio_button_tag :display, photo.id, true, :class => "radio-button-display-option" %>
						<% else %>
							<%= radio_button_tag :display, photo.id, false, :class => "radio-button-display-option" %>
						<% end %>

						<%= image_tag photo.image.url(:display), :style => "width: 100%; height: 100%;" %>
					</div>
				<% end %>
			<% end %>

		</div>

		<div style="margin-top: 10px; margin-right: 50px; float: right;">
			<%= submit_tag "OK", :class => "pure-button pure-button-primary" %>
		</div>
		<br>
		<br>
		<br>
	<% end %>
</div>

<script type="text/javascript">
	// Cuando el formulario del display se va al server
	$("#work-display-form").bind("ajax:success", function(evt, data, status, xhr) {

		// Se cierra la ventana de dialogo
		$("#work-edit-images-dialog").dialog("close");

		// Se coloca la imagen de display
		$("#<%= id_div %>").empty();
		$("#<%= id_div %>").append("<img src=" + xhr.responseText + " style='width: 100%; height: 100%;'>");
	});
</script>