<div id="grid-edit-images-container" style="float: left;" >

	<!-- GRID -->
	<div id="grid-edit-images-content">

		<div id="work-mediana-edit-images-display"><%= image_tag "elegir-display.png", :style => "width: 100%; height: 100%;" %></div>
		<div id="work-mediana-edit-images-info"></div>
		<div id="work-mediana-edit-images-galeria"><%= image_tag "elegir-portada-galeria.png", :style => "width: 100%; height: 100%;" %></div>
		<div id="work-mediana-edit-images-otros"><%= image_tag "elegir-portada-otros.png", :style => "width: 100%; height: 100%;" %></div>

	</div>

	<!-- DIALOG WINDOW -->
	<div id="work-edit-images-dialog" title="" style="display: none; z-index: 3;"></div>

</div>

<%= link_to work_path(@work.id) do %>
	<div class="pure-button pure-button-primary" style="float: right; font-family: latha, latha_ie; font-size: 1em; margin-top: 49%; margin-right: 11%;">
		IR A OBRA
	</div>
	<br>
<% end %>

<script type="text/javascript">

	$(function() {

		// Se inicia el dialog
		$("#work-edit-images-dialog").dialog({
			width: 1000,
			
			autoOpen: false,
			
			show: "scale",
			hide: "scale",

			dialogClass: "no-close",

			modal: "true"
		});

		// Click en display
		$("#work-mediana-edit-images-display").click(function() {

			// Vacia el contenido de la ventana de dialogo
			$("#work-edit-images-dialog").empty();

			// Le cambiamos el titulo
			$("#work-edit-images-dialog").dialog("option", "title", "Seleccione la imagen de display");

			// Se le agrega el contenido
			var display_html = "<%= j (render partial: 'works/edit_images/edit_display', locals: { work: @work, id_div: 'work-mediana-edit-images-display' }) %>"; 
			$("#work-edit-images-dialog").append(display_html);

			$("#work-edit-images-dialog").dialog("open");
		});

		// Click en galeria
		$("#work-mediana-edit-images-galeria").click(function() {
			// Vacia el contenido de la ventana de dialogo
			$("#work-edit-images-dialog").empty();

			// Le cambiamos el titulo
			$("#work-edit-images-dialog").dialog("option", "title", "GALERIA");

			// Se le agrega el contenido
			var gal_html = "<%= j (render partial: 'works/edit_images/edit_file_folder', locals: { work: @work, file_folder: @work.filefolder('GALERIA'), id_div: 'work-mediana-edit-images-galeria' }) %>";
			$("#work-edit-images-dialog").append(gal_html);

			// Se abre la ventana de dialogo
			$("#work-edit-images-dialog").dialog("open");
		});

		// Click en detras otros
		$("#work-mediana-edit-images-otros").click(function() {
			// Vacia el contenido de la ventana de dialogo
			$("#work-edit-images-dialog").empty();

			// Le cambiamos el titulo
			$("#work-edit-images-dialog").dialog("option", "title", "DETRAS DE");

			// Se le agrega el contenido
			var gal_html = "<%= j (render partial: 'works/edit_images/edit_file_folder', locals: { work: @work, file_folder: @work.filefolder('OTROS'), id_div: 'work-mediana-edit-images-otros' }) %>";
			$("#work-edit-images-dialog").append(gal_html);

			// Se abre la ventana de dialogo
			$("#work-edit-images-dialog").dialog("open");
		});
		
	});

</script>