<!DOCTYPE html>
<html>
	<head>
		<title>Torre De Viento</title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= favicon_link_tag "favicon.ico" %>
		<%= csrf_meta_tags %>

		<script type="text/javascript">
			$(document).ready(function() {
				
				if(detectMob()) {
					var jqueryMobilePath = "<%= asset_path 'javascripts/jquery.mobile-1.4.3.js' %>";
					$("head").append("<script type='text/javascript' src='" + jqueryMobilePath + "'><\/script>");
				}

				if($("#wrapper-tvp").length > 1) {
					var wrappers = $("#wrapper-tvp");
					for (var i = 0; i < ($("#wrapper-tvp").length - 1); i++) {
						$(wrappers[i]).remove();
					}

					if($("style").length > 1) {
						var styles = $("style");
						for (var i = 0; i < $("style").length; i++) {
							$(styles[i]).remove();
						}
					}
				}
				
			});
		</script>
	</head>
	<body>
		<%= yield %>
	</body>
</html>