<!DOCTYPE html>
<html>
	<head>
		<title>Torre De Viento</title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= favicon_link_tag "favicon.ico" %>
		<%= csrf_meta_tags %>
		<style type="text/css">
			html, body { background: "#FFFFFF"; }
		</style>
	</head>
	<body>

		<%= yield %>

	</body>
</html>